<button *ngIf="createPrevilege" routerLink="/supplying/agreements/create" mat-button color="primary"
  style="float:right;">
  <mat-icon>add</mat-icon>Crear nuevo convenio
</button>
<form [formGroup]="filterGroup" fxLayoutAlign="start" fxLayoutGap="15px"
  style="flex-wrap:wrap;margin-bottom: 15px;width: 100%;">


  <mat-expansion-panel class="disable_ripple" style="flex-basis: 100%; flex-grow: 1;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Filtros</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <span style="flex-basis: 100%; flex-grow: 1;">

      <span fxLayoutAlign="start" style="flex-wrap:wrap;">
        <seis-licitation-autocomplete fieldname="Licitación" style="width: 100%;flex-grow: 1;"
          formControlName="licitation"></seis-licitation-autocomplete>
      </span>

      <span fxLayoutAlign="start" style="flex-wrap:wrap;">

        <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
          <mat-label>Término anticipado </mat-label>
          <mat-select [compareWith]="compareFn" formControlName="terminated">

            <mat-option>
              Sin selección
            </mat-option>
            <mat-option [value]="true">
              Si
            </mat-option>
            <mat-option [value]="false">
              No
            </mat-option>

          </mat-select>
        </mat-form-field>
      </span>

      <span fxLayoutAlign="start" style="flex-wrap:wrap;">

        <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
          <mat-label>Categoría de convenio(*) </mat-label>
          <mat-select [compareWith]="compareFn" formControlName="agreement_category">

            <mat-option>
              Sin selección
            </mat-option>

            <mat-option selected="0" *ngFor="let lic of agreementCategories" [value]="lic">
              {{lic.name}}
            </mat-option>


          </mat-select>
          <mat-error *ngIf="filterGroup.controls['agreement_category']?.hasError('required')">
            Este campo es <strong>obligatorio</strong>
          </mat-error>

        </mat-form-field>

        <seis-provider-autocomplete style="width: 100%;flex-grow: 1;" formControlName="provider">
        </seis-provider-autocomplete>

      </span>

      <span fxLayoutAlign="start" *ngIf="false" style="flex-wrap:wrap;">
        <supplying-article-autocomplete style="width: 100%;" formControlName="article">
        </supplying-article-autocomplete>
      </span>


      <span fxLayoutAlign="start" style="flex-wrap:wrap;">
        <button [disabled]="!filterGroup.valid" style="height: 40px; width: 100%; flex-basis: 10%; flex-grow: 1; "
          mat-raised-button color="primary" (click)="sendForm()">
          <mat-icon>search</mat-icon> Filtrar
        </button>
      </span>

    </span>

  </mat-expansion-panel>

</form>

<div *ngIf="isLoadingData" style="min-height: 400px;">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoadingData" style="min-height: 400px;margin: 15px;margin-top: 50px;">
  <mat-table *ngIf="dataList.length>0" [class.isMobile]="isMobile" [dataSource]="dataSource">

    <ng-container cdkColumnDef="code">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Código</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue">Código:</span>
          <seis-agreement-popover [terminated]="element.terminated" [days-end]="element.days_end"
            [agreement-id]="element.id" [agreement-amount]="element.agreement_amount" [bidding-id]="element.bidding_id"
            [code]="element.bidding_code" [text]="element.bidding_code"> </seis-agreement-popover>
        </p>
      </mat-cell>
    </ng-container>


    <ng-container cdkColumnDef="name">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue">Nombre:</span>
          <b>{{element.agreement}}</b>
        </p>
      </mat-cell>
    </ng-container>


    <ng-container cdkColumnDef="rut_provider">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Rut proveedor</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue">Rut proveedor:</span>
          {{element.run_provider}}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="provider">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Rut proveedor</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue">Rut proveedor:</span>
          {{element.business_name}}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="articles">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Artículos</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue">Artículos:</span>
          {{element.articles}}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="n_oc">
      <mat-header-cell md-sort-header *cdkHeaderCellDef># Ocs</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue"># Ocs:</span>
          {{element.n_oc}}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="category">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Categoría</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data" style="width: 90%;">
          <span class="mobile-label blue">Categoría:</span>
          {{element.category_type}}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell md-sort-header *cdkHeaderCellDef> </mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <span class="mobile-label blue"><b>Opciones:</b></span>


        <mat-menu xPosition="before" #POMenu="matMenu">
          <button *ngIf="createPrevilege" style="display: block;width: 100%;text-align: left;" matTooltip="Editar"
            mat-button color="primary" routerLink="/supplying/agreements/edit/{{element.id}}">
            <mat-icon>edit</mat-icon> Editar
          </button>
          <button style="display: block;width: 100%;text-align: left;" matTooltip="Detalle" mat-button color="primary"
            routerLink="/supplying/agreements/detail/{{element.id}}">
            <mat-icon>assignment</mat-icon> Detalle
          </button>
          <button *ngIf="fineCreatePrevilege" style="display: block;width: 100%;text-align: left;" matTooltip="Multas"
            mat-button color="primary" routerLink="/supplying/agreements/detail/{{element.id}}/fines/create/">
            <mat-icon>gavel</mat-icon> Nueva multa
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="POMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <h3 *ngIf="this.dataList?.length == 0">No hay datos que mostrar</h3>
</div>

<mat-paginator style="margin-bottom: 80px;" [length]="pageNumber" [hidePageSize]="true" [pageSizeOptions]="[10]"
  (page)="pageEvent = loadPageData($event)" showFirstLastButtons></mat-paginator>

<div class="floating">

  <mat-card class="floating-card">
    <div class="floating-card-content" style="height: fit-content">
      <span style="width: 100% !important; padding-right: 10px; display: flex; flex-direction: row;">
        <mat-chip-list style="width: 100%;">
          <div class="md-chips">
            <div class="md-chip">
              <div class="md-chip-icon-default">
                <mat-icon [inline]="true">subject</mat-icon>
              </div>
              <p style="display:flow-root;">Más de 180 días</p>
            </div>
          </div>
          <div class="md-chips">
            <div class="md-chip">
              <div class="md-chip-icon-low">
                <mat-icon [inline]="true">subject</mat-icon>
              </div>
              <p style="display:flow-root;">Entre 180 y 90 días</p>
            </div>
          </div>
          <div class="md-chips">
            <div class="md-chip">
              <div class="md-chip-icon-medium">
                <mat-icon [inline]="true">subject</mat-icon>
              </div>
              <p style="display:flow-root;">Entre 5 y 90 días</p>
            </div>
          </div>
          <div class="md-chips">
            <div class="md-chip">
              <div class="md-chip-icon-high">
                <mat-icon [inline]="true">subject</mat-icon>
              </div>
              <p style="display:flow-root;">Entre 0 y 5 días</p>
            </div>
          </div>
          <div class="md-chips">
            <div class="md-chip">
              <div class="md-chip-icon-anticipated">
                <mat-icon [inline]="true">subject</mat-icon>
              </div>
              <p style="display:flow-root;">Terminado</p>
            </div>
          </div>
        </mat-chip-list>

      </span>

    </div>
  </mat-card>

</div>