<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading && dataLoaded">

  <span style="display: flex; flex-wrap: wrap;" style="width: 100%;">
    <mat-card class="description-card-container">
      <h3 style="width: 100%;"><b style="color: white !important;">{{agreementData.name  | uppercase }}</b></h3>
      <h2 style="width: 100%;"><b>Monto total:</b> <span style="color:white;">{{agreementData.amount | currency:'CLP' }}</span></h2>
      <h2 style="width: 100%;"><b>Proveedor:</b> <span
          style="color:white;">{{agreementData.detail[0]?.provider?.business_name }}
          {{agreementData.detail[0]?.provider?.run}}</span></h2>
    </mat-card>
  </span>


  <span style="display: flex; flex-wrap: wrap;" style="width: 100%;">

    <mat-card class="inner-card">
      <mat-card-header style="width:100%;">
        <mat-card-title style="display: inline-flex; flex-wrap: nowrap; justify-content: space-between;width: 100%;">
          General
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;flex-wrap: wrap">


        <p><b>Licitación:</b> <span class="blue"> {{ agreementData?.bidding?.code}}</span> </p>
        <p><b>Tipo licitación:</b> <span class="blue"> {{ agreementType.name }}</span> </p>
        <p><b>Categoría licitación:</b> <span class="blue"> {{ agreementCategory.name }}</span> </p>
        <p><b>Fecha de inicio:</b> <span class="blue"> {{agreementData.date_start | date:'d/M/yy' }}</span> </p>
        <p><b>Meses:</b> <span class="blue"> {{agreementData.n_month }}</span> </p>
        <p><b>Fecha de termino:</b> <span class="blue"> {{finalDate}}</span> </p>
        <p><b>Centro de costo:</b> <span class="blue"> {{ agreementData.detail[0]?.cost_center?.name }}</span> </p>
        <p><b>Impuesto:</b> <span class="blue">
          <span class="blue" *ngIf="agreementData?.tax.name"> {{agreementData?.tax.name}} </span>
        </span> </p>
        <p><b>Comentario:</b><span class="blue" *ngIf="agreementData.comment"> {{agreementData.comment }}</span> </p>
        <p *ngIf="agreementData?.anticipated_term?.name"><b>Termino Anticipado:</b> <span class="blue"> {{ agreementData?.anticipated_term?.name }}</span> </p>

      </mat-card-content>

      <mat-card-header style="width:100%;">
        <mat-card-title style="display: inline-flex; flex-wrap: nowrap; justify-content: space-between;width: 100%;">
          Referentes
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;flex-wrap: wrap">

        <p><b>Referente técnico:</b> <span class="blue">
            {{ agreementData.detail[0]?.technical_reference?.person?.name }}
            {{ agreementData.detail[0]?.technical_reference?.person?.last_name }}
            {{ agreementData.detail[0]?.technical_reference?.person?.run }}</span> </p>
        <p><b>Supervisor compra:</b> <span class="blue">
            {{ agreementData.detail[0]?.purchase_supervisor?.person?.name }}
            {{ agreementData.detail[0]?.purchase_supervisor?.person?.last_name }}
            {{ agreementData.detail[0]?.purchase_supervisor?.person?.run }}</span> </p>
        <p><b>Sub Director:</b> <span class="blue"> {{ agreementData.detail[0]?.vice_principal?.person?.name }}
            {{ agreementData.detail[0]?.vice_principal?.person?.last_name }}
            {{ agreementData.detail[0]?.vice_principal?.person?.run }}</span> </p>


      </mat-card-content>

      <mat-card-header style="width:100%;">
        <mat-card-title style="display: inline-flex; flex-wrap: nowrap; justify-content: space-between;width: 100%;">
          Destinatarios
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;flex-wrap: wrap">

        <mat-chip *ngFor="let recipient of recipientList" selected class="mat-chip-list-stacked"
          (removed)="remove(recipientList,recipient);">
          <span class="info-title" style="margin-left: 15px; color: white;width:100%;">{{recipient}} </span>
          &nbsp;&nbsp;
          <mat-icon>email</mat-icon>
        </mat-chip>

      </mat-card-content>

      <mat-card-header style="width:100%;" *ngIf="documents.length > 0">
        <mat-card-title style="display: inline-flex; flex-wrap: nowrap; justify-content: space-between;width: 100%;">
          Ordenes de compra
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;flex-wrap: wrap">

        <seis-purchase-order-popup *ngFor="let oc of documents; let rowIndex = index;" [code]="oc.code">
        </seis-purchase-order-popup>

      </mat-card-content>

    </mat-card>

    <mat-card class="inner-card">


      <mat-card-header *ngIf="agreementData.files.length>0">
        <mat-card-title>
          Documentos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;" *ngIf="agreementData.files.length>0">
        <mat-list dense>
          <mat-list-item *ngFor="let file of agreementData.files">
            <a target="_blank" href="{{file.path_url}}">
              <mat-icon>get_app</mat-icon> <b>{{file.name}} </b>
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>
          Resolución base/TDR
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <p><b>N° resolución base:</b> <span class="blue"> {{agreementData.base_resolution_number }} </span> </p>
        <p><b>Fecha resolución base:</b> <span class="blue"> {{agreementData.base_resolution_date | date:'d/M/yy' }}
          </span> </p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>
          Resolución adjudicación
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <p><b>Número resolución adjudicación:</b> <span class="blue"> {{agreementData.adjudicated_resolution_number }}
          </span> </p>
        <p><b>Fecha resolución adjudicación:</b> <span class="blue">
            {{agreementData.adjudicated_resolution_date | date:'d/M/yy' }} </span> </p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>
          Resolución aprueba
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <p><b>Resolución base aprueba:</b> <span class="blue"> {{resApprove.name}} </span> </p>
        <p><b>Fecha Resolución base aprueba:</b> <span class="blue">
            {{agreementData.last_base_resolution_approval_detail?.resolution_date| date:'d/M/yy' }} </span> </p>
        <p><b>Código resolución aprueba:</b> <span class="blue">
            {{agreementData.last_base_resolution_approval_detail?.resolution_code }} </span> </p> 
        <p><b>Comentarios resolución aprueba:</b> <span class="blue">
            {{agreementData.last_base_resolution_approval_detail?.comment }} </span> </p>


      </mat-card-content>

      <mat-card-header>
        <mat-card-title>
          Garantía
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <p><b>Banco emisor:</b> <span class="blue"> {{bank.name}} </span> </p>
        <p><b>Tipo garantía:</b> <span class="blue"> {{warrantyType.name}} </span> </p>
        <p><b>Fecha vencimiento:</b> <span class="blue">
            {{agreementData.last_warranty_detail?.expiration_date | date:'d/M/yy'  }} </span> </p>
        <div *ngIf="agreementData.last_warranty_detail?.is_uf; else is_not_uf">
            <p><b>Monto garantía:</b> <span class="blue">{{agreementData.last_warranty_detail?.amount | currency:'CLF' }} (UF)</span> </p>
        </div>
        <ng-template #is_not_uf>
            <p><b>Monto garantía:</b> <span class="blue"> {{agreementData.last_warranty_detail?.amount | currency:'CLP' }}</span> </p>
        </ng-template>
        <p><b>Código garantía:</b> <span class="blue"> {{agreementData.last_warranty_detail?.code}} </span> </p>
      </mat-card-content>


    </mat-card>

    <mat-card class="inner-card" *ngIf="fines.length>0">


      <mat-card-header>
        <mat-card-title>
          Multas
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">


        <mat-label *ngIf="isLoadingFineData==true" style="text-align: center; ">
          <p style="color:#689FD1">
            <mat-spinner style="margin:0 auto;" [diameter]="30"></mat-spinner>
          </p>
        </mat-label>

        <mat-table *ngIf="fines.length>0" [class.isMobile]="isMobile" [dataSource]="finesDataSource">

          <ng-container cdkColumnDef="fine_state">
            <mat-header-cell md-sort-header *cdkHeaderCellDef>Estado</mat-header-cell>
            <mat-cell *cdkCellDef="let element">
              <p class="table-data" style="width: 90%;">
                <span class="mobile-label blue">Estado:</span>
                <b>{{element.fine_state_data?.name }}</b>
              </p>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="amount">
            <mat-header-cell md-sort-header *cdkHeaderCellDef>Monto</mat-header-cell>
            <mat-cell *cdkCellDef="let element">
              <p class="table-data" style="width: 90%;">
                <span class="mobile-label blue">Monto:</span>
                <b>{{element.amount | currency:'CLP' }}</b>
              </p>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="discharge_date">
            <mat-header-cell md-sort-header *cdkHeaderCellDef>Fecha descargo</mat-header-cell>
            <mat-cell *cdkCellDef="let element">
              <p class="table-data" style="width: 90%;">
                <span class="mobile-label blue">Fecha descargo:</span>
                <b>{{element.discharge_date | date:'d/M/yy'  }}</b>
              </p>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="resolution_date">
            <mat-header-cell md-sort-header *cdkHeaderCellDef>Fecha descargo</mat-header-cell>
            <mat-cell *cdkCellDef="let element">
              <p class="table-data" style="width: 90%;">
                <span class="mobile-label blue">Fecha resolución:</span>
                <b>{{element.resolution_date | date:'d/M/yy'  }}</b>
              </p>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="actions">
            <mat-header-cell md-sort-header *cdkHeaderCellDef> </mat-header-cell>
            <mat-cell *cdkCellDef="let element">
              <span class="mobile-label blue"><b>Opciones:</b></span>
              <button style="display: block;width: 100%;" matTooltip="Editar" mat-button color="primary"
                routerLink="/supplying/agreements/detail/{{agreementId}}/fines/edit/{{element.id}}/">
                <mat-icon>edit</mat-icon> Editar
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="fineDisplayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: fineDisplayedColumns;"></mat-row>
        </mat-table>

        <h3 *ngIf="this.fines?.length == 0">No hay datos que mostrar</h3>
        <mat-paginator *ngIf="this.fines?.length > 0" style="margin-bottom: 80px;" [length]="pageNumber"
          [hidePageSize]="true" [pageSizeOptions]="[5]" (page)="pageEvent = loadPageData($event)" showFirstLastButtons>
        </mat-paginator>

        <button *ngIf="fineCreatePrevilege" style="display: block;width: 100%;text-align: left;" matTooltip="Multas"
          mat-button color="primary" routerLink="/supplying/agreements/detail/{{agreementId}}/fines/create/">
          <mat-icon>gavel</mat-icon> Nueva multa
        </button>

      </mat-card-content>

    </mat-card>

  </span>

  <span style="display: flex; flex-wrap: wrap;">

    <mat-card class="inner-card" *ngIf="articleList.length>0">

      <mat-card-header>
        <mat-card-title>
          Artículos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">

        <mat-table [class.isMobile]="isMobile" *ngIf="articleList.length>0" [dataSource]="dataSource">

          <ng-container cdkColumnDef="article_code">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_CODE_' | translate }}:</span>
              <app-article-info [id]="element.article" [code]="element.article_code"></app-article-info>

            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="article_name">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_NAME_' | translate }}:</span>
              {{element.article_name}}
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="quantity">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              {{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._QUANTITY_' | translate }}:</span>
              {{element.quantity}}
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="unit_value">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              {{ 'SUPPLYING.ORDER._UNIT_VALUE_' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._UNIT_VALUE_' | translate }}:</span>
              {{element.unit_value | currency:'CLP' }} <div matTooltip="{{element.unit_value | taxV:agreementData.tax.id   | currency:'CLP'}}" style="color:#039be5"
                *ngIf="!agreementData.excent"> + {{element.unit_value | taxN:agreementData.tax.id   | currency:'CLP'}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="amount">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              Monto</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">Monto:</span>
              {{element.unit_value*element.quantity | currency:'CLP'  }} <div matTooltip=" {{(element.unit_value*element.quantity) | taxV:agreementData.tax.id  | currency:'CLP'}}"
                style="color:#039be5" *ngIf="!agreementData.excent"> +
                {{(element.unit_value*element.quantity) | taxN:agreementData.tax.id   | currency:'CLP'}} </div>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="quantity_recept">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              Cantidad recep.</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">Cantidad recepcionados:</span>
              {{element.reception?.quantity}}
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="unit_value_recept">
            <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
              Valor unitario recep,</mat-header-cell>
            <mat-cell *cdkCellDef="let element; let rowIndex = index;">
              <span class="mobile-label blue">Valor unitario recepcionados:</span>
              {{element.reception?.amount | currency:'CLP' }} <div matTooltip="{{element.reception?.amount | taxV:agreementData.tax.id   | currency:'CLP'}}" style="color:#039be5"
                *ngIf="!agreementData.excent"> +
                {{element.reception?.amount | taxN:agreementData.tax.id   | currency:'CLP'}} </div>
            </mat-cell>
          </ng-container>


          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
        </mat-table>

      </mat-card-content>

      <h3 style="width: 100%;display: block;">
        <mat-card-content style="padding:15px;flex-wrap: wrap">
          <b>TOTAL: {{totalAmount | currency:'CLP'}}</b> <span matTooltip=" {{totalAmount | taxV:agreementData.tax.id  | currency:'CLP'}}" style="color:#039be5"
            *ngIf="!agreementData.excent"> + {{totalAmount | taxN:agreementData.tax.id   | currency:'CLP'}} </span>
        </mat-card-content>

      </h3>

    </mat-card>

  </span>
</div>