.description-card-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    background: #689FD1;
    height: 100px !important;

    h3{
        font-size: 12px;
    }
}

.description-card-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:1px;
    box-shadow: #689FD1;
    padding: 0px 2px 0px 2px;
    min-width: 150px;
}

.description-card-movement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: none;
    margin:1px;
    background-color: rgba(0,0,0,0);
    padding: 2px;
}

.mat-icon {
    vertical-align: middle;
    align-items: center;
    color:white; 
    text-emphasis-color: white;
 }

.movement-icon {
    margin-right: 0px !important;
    color: #689FD1;
}

