<mat-card  *ngIf="location_A && location_B && movement"   class="description-card-container">
  <mat-card  class="description-card-location" matTooltip="Origen">
      <p style="text-align: center"><mat-icon class="movement-icon">local_pharmacy</mat-icon></p>
      <h3><b style="color: rgba(0, 0, 0, 0.54)">{{location_A}}</b></h3>
  </mat-card>
  <mat-card class="description-card-movement" matTooltip="{{movement.description}}">
      <p style="text-align: center">
        <mat-icon inline style="font-size: 70px;color:white; text-emphasis-color: white;" class="movement-icon">arrow_right_alt</mat-icon></p>
      <h3><b style="color:white; text-emphasis-color: white;">{{movement.action_text}}</b></h3>
  </mat-card>  
  <mat-card class="description-card-location" matTooltip="Destino">
      <p style="text-align: center"><mat-icon class="movement-icon">local_pharmacy</mat-icon></p>
      <h3><b style="color: rgba(0, 0, 0, 0.54)">{{location_B}}</b></h3>
  </mat-card>
</mat-card>

