<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form [formGroup]="serviceFormgroup">

    <mat-card class="inner-card">
      <mat-card-content class="mat-header-row">
        <button (click)="clearForm()" mat-raised-button>
          <mat-icon>replay</mat-icon> Limpiar formulario
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          Datos de Servicio
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <div class="order-container">

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">

            <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
              <mat-label>Nombre (*)</mat-label>
              <input appearance="outline" class="mobile-form-input" formControlName="name" matInput
                placeholder="Nombre">
              <mat-error *ngIf="serviceFormgroup.controls['name'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </span>

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
              <mat-label>Descripción</mat-label>
              <input appearance="outline" class="mobile-form-input" formControlName="description" matInput
                placeholder="Descripcion">
              <mat-error *ngIf="serviceFormgroup.controls['description'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </span>
          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
              <mat-label>Código</mat-label>
              <input appearance="outline" class="mobile-form-input" formControlName="code" matInput
                placeholder="Codigo">
              <mat-error *ngIf="serviceFormgroup.controls['code'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </span>
          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
              <mat-label>Item Presupuestario(*) </mat-label>
              <mat-select formControlName="budget_item">
                <mat-option selected="0" *ngFor="let bi of budgetItem" [value]="bi.id"
                  matTooltip="{{bi.code}} - {{bi.name}}">
                  {{bi.code}} - {{bi.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="serviceFormgroup.controls['budget_item']?.hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>

            </mat-form-field>

          </span>
          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-checkbox class="margin" formControlName="is_active" checked>
              ¿Activo?
            </mat-checkbox>

          </span>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-content style="padding:15px;">
        <span fxLayout="row">
          <button [disabled]="serviceFormgroup.invalid" (click)="send()" style="width: 100%;" mat-raised-button
            color="accent">
            <mat-icon>border_color</mat-icon> Crear Servicio
          </button>
        </span>
      </mat-card-content>
    </mat-card>

  </form>
</div>