.order-container {
    display: flex;
    flex-direction: column;
}
    
.order-container > * {
    width: 100%;
}


.mat-column-article_code {
  flex: 0 0 15%;
}
  
.mat-column-article_name {
  flex: 0 0 35% ;
}

.mat-column-quantity {
  flex: 0 0 10% ;
}

.mat-column-stock {
  flex: 0 0 15% ;
}

.mat-column-actions {
  flex: 0 0 20% ;
}

.mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-cell:first-of-type
    {
      padding-left: 0px !important;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-column-article_code {
        flex: 0 0 100% !important;
        width: 100%;
    }
      
    .mat-column-article_name {
        flex: 0 0 100% !important;
        width: 100%;
    }
    
    .mat-column-quantity {
        flex: 0 0 100% !important;
        width: 100%;
    }

    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 0px 10px;
      word-break: break-all;
    }
  }
    
  .mobile-form-input
  {
    width: 100%;
  }
  
  [hidden] { display: none !important;}

.mat-chip-list-wrapper
{
  flex-grow: 1;
}


.mat-form-field-flex{
  height: 100% !important;
}

.mat-chip
{
  width: 100%;
}

.swap-icon
{
  margin-right: 0px !important;
}

.wrapper {
  display: flex;         /* Magic begins */
  align-items: baseline; /* Align the baselines of the flex items */
}
.wrapper > :first-child {
  margin-right: auto;    /* Push following flex items to the right */
}
.wrapper button {
  padding: 10px;
}