<mat-card class="dashboard-card">
    <mat-card-header class="mat-card-blue-header">
      <mat-card-title aria-label>
        <h2 class="blue" style="display: inline;"> Comienza tu Historia </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isLoading">
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </div>
      <span *ngIf="!isLoading && dataLoaded" style="display: flex; flex-wrap: wrap; justify-content: space-between;width: 100%;">
        
          <mat-card style="flex-basis:45%; flex-grow: 1;">
            <mat-card-header>
              <mat-card-title>{{story.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content style="min-height: 300px;">
              <img src="assets/images/banners/storys/story1.jpg" width="100%" alt="Historia 1">
            </mat-card-content>
          </mat-card>
    
          <mat-card style="flex-basis:45%; flex-grow: 1;">
            <mat-card-header>
              <mat-card-title>Bienvenido</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              
              <form [formGroup]="formGroup">
                <!-- Texto inicial -->
                <div [innerHTML]="initial_text"></div>
                <div *ngFor="let question of prologue.question_set">

                  <!-- Preguntas -->
                  <div [innerHTML]="byPassSanitize(question.description)"></div>

                  <!-- Alternativas -->
                  <mat-selection-list>
                    <mat-list-option *ngFor="let alternative of question.alternatives_set">
                      <div [innerHTML]="byPassSanitize(alternative.description)"></div>
                    </mat-list-option>
                  </mat-selection-list>
                  
                </div>
              </form>

              <p>
              <button *ngIf="formGroup.valid" style="display: block;width: 100%;text-align: left;" mat-button color="primary" routerLink="begin" (click)="guardarPerfil()">
                <mat-icon>keyboard_arrow_right</mat-icon> Guardar
              </button>
              </p>
            </mat-card-content>
          </mat-card>

      </span>
    </mat-card-content>
  </mat-card>