<mat-table [dataSource]="dataSource" style="width: 100%">

  <ng-container cdkColumnDef="article_code">
    <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
      {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }} </mat-header-cell>
    <mat-cell *cdkCellDef="let element; let rowIndex = index;">
      <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }}:</span>
      <span class="mat-cell-span">
        <app-article-info [id]="element.article_id" [code]="element.article_code"></app-article-info>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="article_name">
    <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
      {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
    <mat-cell *cdkCellDef="let element; let rowIndex = index;">
      <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}:</span>
      <span class="mat-cell-span">{{element.article_name}}</span>
    </mat-cell>
  </ng-container>


  <ng-container cdkColumnDef="destination">
    <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
      {{ 'SUPPLYING.ORDER._DESTINATION_NAME_' | translate }}</mat-header-cell>
    <mat-cell *cdkCellDef="let element; let rowIndex = index;">
      <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._DESTINATION_NAME_' | translate }}:</span>
      <span class="mat-cell-span">{{element.destination_name}}</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="order">
    <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
      {{ 'SUPPLYING.ORDER._ORDER_' | translate }}</mat-header-cell>
    <mat-cell *cdkCellDef="let element; let rowIndex = index;">
      <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._ORDER_' | translate }}:</span>
      <span class="mat-cell-span">
        <app-order-info [AllowDispatch]="false" [order]="element.correlative" [id]="element.movement_id" [detailRoute]="'dispatches'">
        </app-order-info>
      </span>
    </mat-cell>
  </ng-container>


  <ng-container cdkColumnDef="quantity">
    <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
      {{ 'SUPPLYING.ORDER._PENDING_QUANTITY_' | translate }}</mat-header-cell>
    <mat-cell *cdkCellDef="let element; let rowIndex = index;">
      <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}:</span>
      <span class="mat-cell-span">{{element.quantity}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="_maxRows" [hidePageSize]="true" showFirstLastButtons></mat-paginator>