<mat-table  [dataSource]="dataSource" style="width: 100%">

    <ng-container cdkColumnDef="dispatch">
        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
          {{ 'SUPPLYING.ORDER._DISPATCH_' | translate }} </mat-header-cell>
        <mat-cell *cdkCellDef="let element; let rowIndex = index;">
          <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._DISPATCH_' | translate }}:</span>
          <span class="mat-cell-span"><seis-movement-dispatch-info [id]="element.dispatch_id" ></seis-movement-dispatch-info></span>
        </mat-cell>
      </ng-container>

    <ng-container cdkColumnDef="article_code">
        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
          {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }} </mat-header-cell>
        <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
          <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }}:</span>
          <span class="mat-cell-span"><app-article-info [id]="element.article_id" [code]="element.article_code" ></app-article-info></span>
          
        </mat-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="article_name">
        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
          {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
          <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}:</span>
          <span class="mat-cell-span">{{element.article_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="quantity">
        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
          {{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
          <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}:</span>
          <span class="mat-cell-span">{{element.quantity}}</span>
        </mat-cell>
      </ng-container>      
  

      <ng-container cdkColumnDef="batch">
          <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
            {{ 'SUPPLYING.ORDER._BATCH_' | translate }}</mat-header-cell>
          <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
            <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._BATCH_' | translate }}:</span>
            <span class="mat-cell-span">{{element.batch}}</span>
          </mat-cell>
        </ng-container>   

      <ng-container cdkColumnDef="SN">
        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
          {{ 'SUPPLYING.ORDER._SN_' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
          <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._SN_' | translate }}:</span>
          <span class="mat-cell-span">{{element.n_serie}}</span>
        </mat-cell>
      </ng-container>   

      <ng-container cdkColumnDef="expiration">
        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
          {{ 'SUPPLYING.ORDER._EXPIRATION_DATE_' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
          <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._EXPIRATION_DATE_' | translate }}:</span>
          <span class="mat-cell-span">{{element.expiration_date |  date:'M/d/yy' }}</span>
        </mat-cell>
      </ng-container>   

      <ng-container cdkColumnDef="date">
          <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
            {{ 'SUPPLYING.ORDER._DATE_' | translate }}</mat-header-cell>
          <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
            <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._DATE_' | translate }}:</span>
            <span class="mat-cell-span">{{element.created_at |  date:'M/d/yy, h:mm:ss a' }}</span>
          </mat-cell>
      </ng-container>   

      <ng-container cdkColumnDef="status">
          <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
            {{ 'SUPPLYING.ORDER._STATUS_' | translate }}</mat-header-cell>
          <mat-cell *cdkCellDef="let element; let rowIndex = index;" >
            <span class="mobile-label mat-cell-title blue">{{ 'SUPPLYING.ORDER._STATUS_' | translate }}:</span>
            <span class="mat-cell-span">
                <span *ngIf="element.status==0">
                    <mat-chip-list aria-label="Tránsito">
                        <mat-chip selected>Tránsito</mat-chip>
                    </mat-chip-list>             
                </span>
                <span *ngIf="element.status==1">
                    <mat-chip-list aria-label="Aceptado">
                        <mat-chip color="primary" selected>Aceptado</mat-chip>
                    </mat-chip-list>
                </span>
                <span *ngIf="element.status==2">
                    <mat-chip-list aria-label="Rechazado">
                        <mat-chip color="accent" selected>Rechazado</mat-chip>
                    </mat-chip-list>                    
                </span>
            </span>
          </mat-cell>
      </ng-container>   

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  