<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading && dataLoaded==true">
  <form [formGroup]="orderFormGroup">

    <seis-movement-header *ngIf="data" [Movement]="data"></seis-movement-header>

    <mat-card *ngIf="can_cancel && InitialState" class="inner-card">
      <span style="flex-grow: 1;margin:5px;"></span>
      <button  (click)="cancel()" mat-raised-button color="warn">
        <mat-icon>clear</mat-icon> Cancelar
      </button>
    </mat-card>

    <mat-tab-group style="min-height: 400px;" >
      
      <mat-tab *ngIf="dispatchModule && allowDispatch" >

        <ng-template mat-tab-label>
          <mat-icon matBadgeSize="medium" >call_made</mat-icon> Despachar
        </ng-template>

        <div class="order-container" >
    
          <mat-card-content class="mat-header-row" >
            <button (click)="sendMaxArticles()" mat-raised-button> Stock máximo</button>
            <button (click)="setZeroArticles()" style="margin-left: 15px;" mat-raised-button> Cero</button>
          </mat-card-content>

          <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource" formArrayName="articles">

            <ng-container cdkColumnDef="article_code">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }} 
              </mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }} :</span>
                <app-article-info [id]="element.article_id" [code]="element.article_code"></app-article-info>

              </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="article_name">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}:</span>
                {{element.article_name}}
              </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="debt">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._DEBT_' | translate }} / {{ 'SUPPLYING.ORDER._REQUESTED_' | translate }} </mat-header-cell>
                <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                  <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._DEBT_' | translate }} / {{ 'SUPPLYING.ORDER._REQUESTED_' | translate }}:</span>
                  {{element.debt}} de {{element.requested}}                 
                  <button  *ngIf="element.debt==element.requested && can_packing_factor" class="mat-button-action" mat-button color="warn" (click)="selectTransferForEdition(element, orderFormGroup.controls['articles'].controls[rowIndex])"
                  matTooltip="Factor de empaque">
                  <mat-icon>create</mat-icon>
                </button>
                </mat-cell>
            </ng-container>


            <ng-container cdkColumnDef="requested">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                % {{ 'SUPPLYING.ORDER._SENDED_' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                  <span class="mobile-label blue"> % {{ 'SUPPLYING.ORDER._DEBT_' | translate }}:</span>
                  <seis-progress [progress]="articleList[rowIndex].percentage" style="width:90%;padding-right:10%;" ></seis-progress>   
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="stock">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._REAL_STOCK_' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                  <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._REAL_STOCK_' | translate }}:</span>
                  {{element.real_stock}}
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="quantity">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">

                <mat-form-field *ngIf="(articleList[rowIndex].percentage) != 100" style="padding:5px;">
                  <input matInput formControlName="quantity">
                  <mat-error *ngIf="orderFormGroup.controls['articles'].controls[rowIndex].controls['quantity'].hasError('pattern')">
                    Este campo debe ser un número
                  </mat-error>
                  <mat-error *ngIf="orderFormGroup.controls['articles'].controls[rowIndex].controls['quantity'].hasError('min')">
                    Este campo debe ser mayor que cero
                  </mat-error>
                  <mat-error *ngIf="orderFormGroup.controls['articles'].controls[rowIndex].controls['quantity'].hasError('max')">
                    Cantidad no válida.
                  </mat-error>

                </mat-form-field>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
          </mat-table>

          <br>

          <button  [disabled]="!orderFormGroup.valid || !hasItems" (click)="openDialog()" style="width: 100%;" mat-raised-button color="accent">
            <mat-icon>check</mat-icon> Despachar
          </button>

        </div>

      </mat-tab>

      <mat-tab *ngIf="transitDispatches?.length"  >
          <ng-template mat-tab-label>
              <mat-icon matBadge="{{transitDispatches?.length}}" matBadgeSize="medium" >call_made</mat-icon> Artículos en tránsito 
          </ng-template>

          <span>
              <seis-movement-dispatch-history [data]="transitDispatches"></seis-movement-dispatch-history>
          </span>

      </mat-tab>

      <mat-tab *ngIf="historicDispatches?.length"  >
          <ng-template mat-tab-label>
              <mat-icon matBadge="{{historicDispatches?.length}}" matBadgeSize="medium" >history</mat-icon> Artículos despachados 
          </ng-template>

          <span>
              <seis-movement-dispatch-history [data]="historicDispatches"></seis-movement-dispatch-history>
          </span>

      </mat-tab>

      <mat-tab *ngIf="allowDispatchmentApproval"  >
        <ng-template mat-tab-label>
            <mat-icon matBadge="{{historyElementCount}}" matBadgeSize="medium" >reorder</mat-icon> Artículos del pedido
        </ng-template>

        <span>
          <seis-movement-article-list [data]="articleList"></seis-movement-article-list>
        </span>

      </mat-tab>

      <mat-tab *ngIf="articleList?.length"  >
        <ng-template mat-tab-label>
            <mat-icon matBadge="{{articleList?.length}}" matBadgeSize="medium" >reorder</mat-icon> Artículos del pedido
        </ng-template>

        <span>
          <seis-movement-article-list [data]="articleList"></seis-movement-article-list>
        </span>

      </mat-tab>

      <mat-tab *ngIf="historicalData?.length" >
          <ng-template mat-tab-label>
              <mat-icon matBadge="{{historicalData?.length}}" matBadgeSize="medium" >history</mat-icon> Historial
          </ng-template>

          <span>
            <seis-movement-record *ngIf="historicalData" [data]="historicalData"></seis-movement-record>
          </span>

      </mat-tab>

    </mat-tab-group>




  </form>
</div>

<div *ngIf="!isLoading && dataLoaded==false">
      
    <h1 style="text-align: center;">
      <mat-icon [inline]="true">warning</mat-icon>
    </h1>
    <h4 style="text-align: center;">
      Error al acceder la página solicitada.
    </h4>

</div>