<h1 mat-dialog-title style="text-align: center"> Despacho</h1>

<div style="width: 100%;" mat-dialog-content style="display: flex; flex-wrap: wrap; Justify-content: space-around;">


  <span *ngIf="dataSent==false" style="text-align: center">
    <p>¿Está seguro que desea despachar estos artículos?</p>
  </span>

  <span *ngIf="dataSent==true" style="text-align: center">
    <p style="color:red">{{msg}} </p>
  </span>

</div>

<div *ngIf="dataSent == false">
  <div mat-dialog-actions *ngIf="!loading">
    <button mat-button color="primary" (click)="accept()" [disabled]="loading" cdkFocusInitial>
      <mat-icon>check</mat-icon> Despachar
    </button>
    <button mat-button color="accent" [disabled]="loading" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon> No despachar
    </button>
  </div>
  <div mat-dialog-actions *ngIf="loading">
    <p style="color:#689FD1">Cargando...</p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
</div>

<div *ngIf="dataSent == true">
  <div mat-dialog-actions>
    <button style="width: 100%;" mat-button color="accent" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon> Cerrar
    </button>
  </div>
</div>