<mat-toolbar class="app-toolbar" color="secondary">
  <div fxFlex fxLayout fxLayoutAlign="start">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxHide.xs>
      <span class="app-toolbar-logo">
        <img src="assets/images/logo-seis.svg" height="40px" alt="Sistemas expertos">
      </span>
    </div>
  </div>

    <button style="color:red" (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      {{ 'NAVBAR._CLOSE_SESSION_' | translate }}
    </button>
</mat-toolbar>