<mat-toolbar class="app-toolbar" color="secondary">
  <div fxFlex fxLayout fxLayoutAlign="start">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxHide.xs>
      <span class="app-toolbar-logo">
        <img src="assets/images/logo-seis.svg" height="40px" alt="Sistemas expertos">
      </span>
    </div>
  </div>

  <div *ngIf="profileIsLogged" fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
    <button [routerLink]="['/']" mat-button color="accent" class="menu-button-no-dec">
      <mat-icon matSuffix>home</mat-icon> <span> {{ 'NAVBAR._HOME_' | translate }} </span>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <div color="primary" *ngFor="let menu of menuElements" fxLayout fxLayoutGap="15px" class="navigation-items">
      <mat-menu #appMenu="matMenu">
        <button *ngFor="let menuItem of menu.modules" mat-menu-item (click)="goToRoute(menuItem)">
          <mat-icon class="blue">{{menuItem.icon_class}}</mat-icon>
          <p style="display: inline">{{ "NAVBAR."+ menuItem.tag | translate}}</p>
        </button>
      </mat-menu>
      <button mat-button color="primary" [matMenuTriggerFor]="appMenu" class="menu-button-2">
        <mat-icon class="blue">{{menu.icon_class}}</mat-icon>
        <p style="display: inline">{{ 'NAVBAR.' + menu.tag | translate}}</p>
      </button>
      <mat-divider [vertical]="true"></mat-divider>
    </div>
  </div>

  <mat-menu #appMenu="matMenu" dense>
    <button mat-menu-item disabled style="max-height: 35px">
      <mat-label>
        <span style="text-align: center" *ngIf="currentUser"><b>{{currentUser.person_name | uppercase  }} (<span
              style='color:rgba(0, 107, 84, 0.3)'>{{currentProfileData.name }}</span>) </b></span>
      </mat-label>
    </button>
    <button mat-menu-item disabled>
      <mat-label>
        <span style="text-align: center; color:rgba(121, 121, 121, 0.5)"
          *ngIf="currentUser">{{currentInstituionData.name }}</span>
      </mat-label>
    </button>
    <mat-divider></mat-divider>
    <button *ngIf="userHasMultipleProfiles" (click)="swapProfile()" mat-menu-item>
      <mat-icon>supervisor_account</mat-icon>
      {{ 'NAVBAR._CHANGE_PROFILE_' | translate }}
    </button>

    <button style="color:red" (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      {{ 'NAVBAR._CLOSE_SESSION_' | translate }}
    </button>
  </mat-menu>

  <mat-menu #appMenuNotification="matMenu" dense>

    <span *ngIf="loadingNotifications == true">
      <button color="primary" mat-menu-item>
        <mat-label style="text-align: center">
          <p style="color:#689FD1">
            <mat-spinner style="margin:0 auto;" [diameter]="30"></mat-spinner>
          </p>
        </mat-label>
      </button>
    </span>
    <span *ngIf="loadingNotifications == false">

      <div *ngFor="let ntf of listDataNotification; let i=index">
        <button color="primary" mat-menu-item *ngIf="i < 5" (click)="updateListNotification(ntf.id, ntf.message)">
          <mat-icon color="primary">email</mat-icon>
          <mat-label>{{ntf.message}}</mat-label>
        </button>
      </div>
      <button color="primary" mat-menu-item *ngIf="listDataNotification.length==0">
        <mat-label>No tienes notificaciones</mat-label>
      </button>
      <button *ngIf="listDataNotification.length>0" color="primary" mat-menu-item>
        <mat-label>Ver Más</mat-label>
        <mat-icon color="primary">navigate_next</mat-icon>
      </button>

    </span>
  </mat-menu>

  <mat-menu #appMenuLenguage="matMenu" dense>
    <button color="primary" mat-menu-item (click)="translateWebData('es')" *ngIf="profileIsLogged">
      <mat-icon color="primary">subtitles</mat-icon>
      <mat-label>Español</mat-label>
    </button>
    <button color="primary" mat-menu-item (click)="translateWebData('en')" *ngIf="profileIsLogged">
      <mat-icon color="primary">subtitles</mat-icon>
      <mat-label>English</mat-label>
    </button>
    <button color="primary" mat-menu-item (click)="translateWebData('de')" *ngIf="profileIsLogged">
      <mat-icon color="primary">subtitles</mat-icon>
      <mat-label>Deutsch</mat-label>
    </button>
  </mat-menu>

  <div fxFlex fxLayout fxLayoutAlign="end">

    <button color="primary" [matMenuTriggerFor]="appMenuLenguage" mat-icon-button style="margin-right: 10px;">
      <mat-icon>flag</mat-icon>{{ titleLenguage | uppercase }}
    </button>

    <button fxHide.xs color="primary" mat-mini-fab [matMenuTriggerFor]="appMenuNotification" *ngIf="profileIsLogged"
      (click)="getListNotification()" matBadge="{{notificationNumber}}" matBadgePosition="after" matBadgeColor="accent"
      style="margin-right: 10px;">
      <mat-icon>notification_important</mat-icon>
    </button>

    <button mat-mini-fab color="primary" [matMenuTriggerFor]="appMenu" *ngIf="profileIsLogged">
      <mat-icon matSuffix>perm_identity</mat-icon>
    </button>

  </div>
</mat-toolbar>