<img src="assets/images/logo-seis.svg" height="30px" style="margin:9px;" alt="Sistemas expertos">
<mat-nav-list>
  <div mat-list-item color="primary" fxLayout fxLayoutGap="15px" class="navigation-items">
    <button routerLink="/" mat-menu-item (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">{{ 'NAVBAR._HOME_' | translate }}</span>
    </button>
  </div>

  <div mat-list-item color="primary" *ngFor="let menu of menuElements" fxLayout fxLayoutGap="15px"
    class="navigation-items">
    <mat-menu #appMenu="matMenu">
      <button *ngFor="let menuItem of menu.modules" mat-menu-item (click)="goToRoute(menuItem)">
        {{ "NAVBAR."+ menuItem.tag | translate}}
      </button>
    </mat-menu>
    <button mat-button color="primary" [matMenuTriggerFor]="appMenu" class="menu-button-2">
      <mat-icon matSuffix>reorder</mat-icon> {{ 'NAVBAR.' + menu.tag | translate}}
    </button>
  </div>
</mat-nav-list>