<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading && dataLoaded == true">
  <div *ngIf="movement && canRecept == true">
    <form [formGroup]="receptionFormGroup" (ngSubmit)="sendOc()">
      <div style="display: flex; flex-wrap: wrap; Justify-content: space-around;">

        <mat-card class="inner-card">
          <mat-card-header>
            <mat-card-title>
              {{ '_PURCHASE_ORDER_' | translate }}
              <span *ngIf="isService"> de servicio </span>
              <span *ngIf="!isService"> de artículos </span> {{code}}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content style="padding:15px;">
            <input type="file" #file style="display: none" (change)="onFilesAdded()" />
            <span fxLayoutAlign="start" fxLayout="row wrap">

              <mat-form-field fxFlex="1 1 auto" style="margin:5px">
                <mat-label>Tipo documentos (*)</mat-label>
                <mat-select formControlName="document_type">
                  <mat-option *ngFor="let dType of documentTypes" [value]="dType.id">
                    {{dType.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="receptionFormGroup.controls['document_type'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="1 1 auto" style="margin:5px">
                <mat-label>Destino(*) </mat-label>
                <mat-select formControlName="destination">
                  <mat-option selected="0" *ngFor="let loc of locations" [value]="loc.id">
                    {{loc.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="receptionFormGroup.controls['destination'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="1 1 auto" style="margin:5px">
                <mat-label>{{ 'SUPPLYING.PURCHASE_ORDER._INTERMEDITATOR_' | translate }}(*) </mat-label>
                <mat-select formControlName="intermediator">

                  <mat-option>
                    Sin selección
                  </mat-option>

                  <mat-option *ngFor="let type of intermeditationTypes" [value]="type.id">
                    {{type.name}}
                  </mat-option>

                </mat-select>

              </mat-form-field>

              <mat-form-field fxFlex="1 1 auto" style="margin:5px">
                <input disabled formControlName="reception_date" (focus)="picker.open()" [max]="today" matInput
                  [matDatepicker]="picker" placeholder="Fecha de recepción (*)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error *ngIf="receptionFormGroup.controls['reception_date'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="1 1 auto" style="margin:5px">
                <input formControlName="document_code" matInput placeholder="Código de documento*">
              </mat-form-field>

              <mat-form-field fxFlex="1 1 auto" style="margin:5px">
                <input formControlName="document_comment" matInput placeholder="Comentario">
              </mat-form-field>

              <span fxFlex="1 1 auto" style="margin:5px">
                <seis-upload></seis-upload>
              </span>

              

            </span>
          </mat-card-content>
        </mat-card>

        <mat-card class="inner-card">
          <mat-card-header>
            <mat-card-title>
              Proveedor
            </mat-card-title>
          </mat-card-header>
          <mat-card-content style="padding:15px;">

            <span fxLayout class="info-line-container">

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">info</mat-icon> Nombre
                </div>
                <div class="info">{{provider.business_name | uppercase}}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">check_box</mat-icon>Rut
                </div>
                <div class="info">{{provider.run | uppercase}}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">place</mat-icon>Dirección
                </div>
                <div class="info">{{provider.address | uppercase}}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">place</mat-icon>Comuna
                </div>
                <div class="info">{{provider.commune | uppercase}}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">layers</mat-icon>Código socursal
                </div>
                <div class="info">{{provider.branch_office_code }}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">mail</mat-icon>Correo contacto
                </div>
                <div class="info">{{provider.contact_email | uppercase}}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">phone</mat-icon>Telefóno contacto
                </div>
                <div class="info">{{provider.contact_phone | uppercase}}</div>
              </div>

              <div class="info-line">
                <div class="title blue">
                  <mat-icon inline style="margin-right: 5px;">person_pin</mat-icon>Nombre contacto
                </div>
                <div class="info">{{provider.contact_name | uppercase}}</div>
              </div>

            </span>
          </mat-card-content>

          <mat-card-header>
            <mat-card-title>
              Valor de recepción
            </mat-card-title>
          </mat-card-header>
          <mat-card-content style="padding:15px;">
            <span fxLayout class="info-line-container">

              <div class="info-line-2">
                <div class="title blue"> Monto neto</div>
                <div class="info">{{total | currency:'CLP' }}</div>
              </div>

              <div class="info-line-2">
                <div class="title blue">Cargo</div>
                <div class="info">{{charge | currency:'CLP' }}</div>
              </div>
  
              <div class="info-line-2">
                <div class="title blue">Descuento</div>
                <div class="info">{{discount | currency:'CLP' }}</div>
              </div>
  
              <div class="info-line-2">
                <div class="title blue"> {{tax_name}}</div>
                <div class="info">{{total_oc | taxN:tax.id | currency:'CLP' }}</div>
              </div>
  
              <div class="info-line-2">
                <div class="title blue">Total</div>
                <div class="info">{{ (total_oc  - discount + charge  | taxV:tax.id)| currency:'CLP' }}</div>
              </div>

            </span>
          </mat-card-content>

        </mat-card>

        <mat-card class="inner-card">

          <mat-card-header>
            <mat-card-title>
              Detalle de Orden de compra
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-tab-group style="min-height: 200px;flex-grow: 1;">

              <mat-tab *ngIf="articles && articles.length > 0" selected style="flex-grow: 1;flex-basis: 100%;">
                <ng-template mat-tab-label>
                  Articulos
                </ng-template>

                <div style="padding:15px;">


                  <div [formArrayName]="'articles'">
                    <span *ngFor="let article of articleGroups.controls; let i = index; ">
                      <mat-card [formGroupName]="i">

                        <mat-card-header class="mat-card-gray-header">
                          <mat-card-subtitle>
                            <mat-slide-toggle formControlName="is_active">
                            </mat-slide-toggle>
                            {{article.controls['article_name'].value}} ( <app-article-info
                              [id]="article.controls['article_id'].value"
                              [code]="article.controls['article_code'].value">
                            </app-article-info>)
                          </mat-card-subtitle>
                        </mat-card-header>

                        <span [hidden]="article.controls['is_active'].value == false">
                          <mat-card-content style="padding:15px;">

                            <span fxLayoutAlign="start" fxLayoutGap="15px" fxLayout="row wrap">

                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue"> Cantidad por recepcionar</div>
                                <div class="info">
                                  {{article.controls['expected_quantity'].value.debt}}
                                </div>
                              </div>

                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue"> Cantidad solicitada OC</div>
                                <div class="info">
                                  {{article.controls['expected_quantity'].value.quantity}}
                                </div>
                              </div>

                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue"> Costo unitario</div>
                                <div class="info">
                                  {{article.controls['unit_value'].value | iva:withIva | currency:'CLP'  }}
                                </div>
                              </div>

                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue">Cargo</div>
                                <div class="info">
                                  {{article.controls['charge'].value | iva:withIva | currency:'CLP'  }}
                                </div>
                              </div>

                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue">Descuento</div>
                                <div class="info">
                                  {{article.controls['discount'].value | iva:withIva | currency:'CLP'  }}
                                </div>
                              </div>
                            
                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue">Impuestos</div>
                                <div class="info">
                                  {{article.controls['tax_amount'].value | iva:withIva | currency:'CLP'  }}
                                </div>
                              </div>

                              <div class="info-line" fxFlex="1 1 auto">
                                <div class="title blue"> Subtotal</div>
                                <div class="info">
                                  {{ (article.controls['subtotal'].value) | iva:withIva  | currency:'CLP'  }}
                                </div>
                              </div>

                              <mat-form-field hidden fxFlex="1 1 auto">
                                <input formControlName="quantity" 
                                  style="color:#689FD1" value="0" 
                                  matInput
                                  placeholder="Cantidad de artículos">
                                  <mat-error *ngIf="article.controls['quantity'].hasError('pattern')">
                                    Este campo debe ser un número
                                  </mat-error>
                                  <mat-error *ngIf="article.controls['quantity'].hasError('min')">
                                    Este campo debe ser mayor que cero
                                  </mat-error>

                              </mat-form-field>
                            </span>
                          </mat-card-content>
                          <mat-card-footer>
                            <div formArrayName="batchs">

                              <div *ngFor="let batch of article.get('batchs').controls; let j=index" [formGroupName]="j"
                                fxLayoutAlign="start" fxLayoutGap="15px" fxLayout="row wrap">

                                <mat-form-field fxFlex="1 1 auto">
                                  <input (change)="recalculateTotal()" formControlName="quantity" matInput
                                    placeholder="Cantidad">
                                  <mat-error *ngIf="batch.controls['quantity'].hasError('required')">
                                    Este campo es <strong>obligatorio</strong>
                                  </mat-error>
                                  <mat-error *ngIf="batch.controls['quantity'].hasError('pattern')">
                                    Este campo debe ser un número.
                                  </mat-error>
                                  <mat-error *ngIf="batch.controls['quantity'].hasError('min')">
                                    Este campo debe ser un número mayor que 0.
                                  </mat-error>
                                  <mat-error *ngIf="batch.controls['quantity'].hasError('max')">
                                    Este campo debe ser igual o menor que la
                                    cantidad solicitada y la cantidad pendiente.
                                  </mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="(articles[i].article_is_perishable == true)" fxFlex="1 1 auto">
                                  <input (focus)="picker.open()" formControlName="expiration_date" matInput
                                    [min]="today" [matDatepicker]="picker" placeholder="Fecha de vencimiento">
                                  <mat-datepicker-toggle matSuffix [for]="picker">
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                  <mat-error *ngIf="batch.controls['expiration_date'].hasError('required')">
                                    Este campo es <strong>obligatorio</strong>
                                  </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 auto">
                                  <input formControlName="batch" matInput placeholder="Lote (*)">
                                  <mat-error *ngIf="batch.controls['batch'].hasError('required')">
                                    Este campo es <strong>obligatorio</strong>
                                  </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 auto">
                                  <input formControlName="n_serie" matInput placeholder="N° de serie (*)">
                                  <mat-error *ngIf="batch.controls['n_serie'].hasError('required')">
                                    Este campo es <strong>obligatorio</strong>
                                  </mat-error>
                                </mat-form-field>

                                <button (click)="removeBatch( j, article.get('batchs') )" type="button"
                                  [disabled]="article.get('batchs').controls.length==1" fxFlex="1 1 auto" mat-button
                                  color="warn">Quitar
                                  lote</button>
                              </div>
                            </div>

                            <mat-error *ngIf="article.controls['quantity'].hasError('min')">
                              Se debe al menos recepcionar un artículo.
                            </mat-error>
                            <mat-error style="margin-top:20px;" *ngIf="article.controls['quantity'].hasError('max')">
                              No se pueden recepcionar más artículos de los que se tienen
                              pendientes de recepción.
                            </mat-error>

                          </mat-card-footer>

                          <mat-card-actions>
                            <button (click)="addBatch(article,i)" type="button" mat-button color="primary">Agregar
                              lote</button>
                          </mat-card-actions>

                        </span>
                      </mat-card>
                    </span>
                  </div>
                </div>
              </mat-tab>

              <mat-tab *ngIf="services && services.length > 0" style="flex-grow: 1;flex-basis: 100%;">
                <ng-template mat-tab-label>
                  Servicios
                </ng-template>

                <div style="padding:15px;">

                  <span *ngFor="let service of services; let i = index; ">
                    <mat-card-header class="mat-card-gray-header">
                      <mat-card-subtitle>
                        {{service.service_name}} ({{service.provider_product_code}})
                      </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="padding:15px;width: inherit;">

                      <span fxLayout class="info-line-container">
                        <div class="info-line-2">
                          <div class="title blue">Cargo</div>
                          <div class="info">{{service.charge| iva:withIva  | currency:'CLP'}}
                          </div>
                        </div>

                        <div class="info-line-2">
                          <div class="title blue">Descuento</div>
                          <div class="info">
                            {{service.discount| iva:withIva  | currency:'CLP'}}</div>
                        </div>

                        <div class="info-line-2">
                          <div class="title blue">Cantidad</div>
                          <div class="info">{{service.quantity}}</div>
                        </div>

                        <div class="info-line-2">
                          <div class="title blue">Valor unitario</div>
                          <div class="info">
                            {{service.unit_value| iva:withIva  | currency:'CLP'}}</div>
                        </div>

                        <div class="info-line-2">
                          <div class="title blue">Subtotal</div>
                          <div class="info">
                            {{service.subtotal + service.tax_amount + service.charge - service.discount | currency:'CLP'}}</div>
                        </div>

                        <div class="info-line-2">
                          <div class="title blue">Impuesto</div>
                          <div class="info">
                            {{service.tax_amount| iva:withIva  | currency:'CLP'   }}</div>
                        </div>
                      </span>
                    </mat-card-content>
                  </span>
                </div>
              </mat-tab>

              <mat-tab *ngIf="transactions.length > 0" style="flex-grow: 1;flex-basis: 100%;">
                <ng-template mat-tab-label>
                  <mat-icon matBadge="{{transactions.length}}" matBadgeSize="medium">how_to_vote</mat-icon> Recepcionados
                </ng-template>

                <div style="padding:15px;">
                  <span *ngFor="let article of transactions; let i = index; ">
                    <mat-card-header class="mat-card-gray-header">
                      <mat-card-subtitle>
                        <b>{{article.created_at | date:'shortDate'  }} -</b>
                        {{article.article.name | uppercase}} ({{article.article.code}})
                      </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="padding:15px;width: inherit;">

                      <span fxLayout class="info-line-container">

                        <div class="info-line-2" *ngIf="article.quantity">
                          <div class="title blue">Cantidad</div>
                          <div class="info">{{article.quantity}}</div>
                        </div>

                        <div class="info-line-2" *ngIf="article.unit_value">
                          <div class="title blue">Valor unitario</div>
                          <div class="info">
                            {{article.unit_value| iva:withIva  | currency:'CLP'}}</div>
                        </div>

                        <div class="info-line-2" *ngIf="article.subtotal">
                          <div class="title blue">Subtotal</div>
                          <div class="info">
                            {{article.subtotal | iva:withIva  | currency:'CLP'  }}</div>
                        </div>

                        <div class="info-line-2" *ngIf="article.expiration_date">
                          <div class="title blue">Fecha vencimiento</div>
                          <div class="info">{{article.expiration_date | date:'shortDate'  }}
                          </div>
                        </div>

                        <div class="info-line-2" *ngIf="article.n_serie">
                          <div class="title blue">N° serie</div>
                          <div class="info">{{article.n_serie   }}</div>
                        </div>

                        <div class="info-line-2" *ngIf="article.batch">
                          <div class="title blue">Lote</div>
                          <div class="info">{{article.batch }}</div>
                        </div>
                      </span>
                    </mat-card-content>
                  </span>
                </div>
              </mat-tab>

            </mat-tab-group>
          </mat-card-content>
        </mat-card>

      </div>

      <div style="display: flex; flex-wrap: wrap;Justify-content: space-around;">
        <mat-card class="inner-card">
          <button [disabled]="activeToggles==0" mat-raised-button type="submit" mat-stroked-button color="primary">
            <mat-icon>border_color</mat-icon> Recepcionar orden de compra
          </button>
        </mat-card>
      </div>

    </form>
  </div>

  <div *ngIf="canRecept == false">
    <div style="display: flex; flex-wrap: wrap; Justify-content: space-around;">
      <mat-card class="inner-card">
        <mat-card-header>
          <mat-card-title>
            {{ '_PURCHASE_ORDER_' | translate }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content style="padding:15px;">
          Usted no tiene previlegios necesarios para recepcionar la orden de compra debido a que no tiene
          bodegas asociadas a esta.
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="!movement">
      No existe orden de compra
    </div>

</div>

<div *ngIf="!isLoading && dataLoaded == false">
  <mat-card class="dashboard-card">
    <mat-card-header class="mat-card-header-error">
      <mat-card-title aria-label>
        Sistema
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content" style="height: 200px;">
      <h1 style="text-align: center;">
        <mat-icon [inline]="true">warning</mat-icon>
      </h1>
      <h4 style="text-align: center;">
        Error al acceder la pagina solicitada.
      </h4>
    </mat-card-content>
  </mat-card>
</div>