<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>
<div *ngIf="!isLoading">

  <div *ngIf="movement">

      <div  style="display: flex; flex-wrap: wrap; Justify-content: space-around;">

        <mat-expansion-panel class="devolution" [expanded]="true" style="flex-basis: 100%; flex-grow: 1;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon inline>info</mat-icon><b>Detalle orden de compra</b>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div style="display: flex; flex-wrap: wrap; Justify-content: space-around;">
          
            <mat-card class="inner-card">
              <mat-card-header>
                <mat-card-title>
                  Orden de compra
                  <span *ngIf="ocType == 'SERVICE'"> de servicio </span>
                  <span *ngIf="ocType == 'ARTICLE'"> de artículos </span>
                </mat-card-title>
              </mat-card-header>
      
              <mat-card-content style="padding:15px;">
      
                <span fxLayout class="info-line-container">
      
                  <div class="info-line">
                    <div class="title blue">Código OC</div>
                    <div class="info">{{document.code}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title blue">Código Licitación</div>
                    <div class="info">{{document.bidding_code}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title blue">Creado</div>
                    <div class="info">{{document.created_at| date:'shortDate'}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title blue">Estado</div>
                    <div class="info">{{movement.movement_state.name | uppercase}}</div>
                  </div>
                  <div class="info-line">
                    <div class="title blue">Tipo</div>
                    <div class="info">{{movement.movement_type.name | uppercase}}</div>
                  </div>
                </span>
              </mat-card-content>
              
      
            </mat-card>
        
            <mat-card class="inner-card">
              <mat-card-header>
                <mat-card-title>
                  Proveedor
                </mat-card-title>
              </mat-card-header>
              <mat-card-content style="padding:15px;">
      
                <span fxLayout class="info-line-container">
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">info</mat-icon> Nombre
                    </div>
                    <div class="info">{{provider.business_name | uppercase}}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">check_box</mat-icon>Rut
                    </div>
                    <div class="info">{{provider.run | uppercase}}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">place</mat-icon>Dirección
                    </div>
                    <div class="info">{{provider.address | uppercase}}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">place</mat-icon>Comuna
                    </div>
                    <div class="info">{{provider.commune | uppercase}}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">layers</mat-icon>Código socursal
                    </div>
                    <div class="info">{{provider.branch_office_code }}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">mail</mat-icon>Correo contacto
                    </div>
                    <div class="info">{{provider.contact_email | uppercase}}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">phone</mat-icon>Teléfono contacto
                    </div>
                    <div class="info">{{provider.contact_phone | uppercase}}</div>
                  </div>
      
                  <div class="info-line">
                    <div class="title blue">
                      <mat-icon inline style="margin-right: 5px;">person_pin</mat-icon>Nombre contacto
                    </div>
                    <div class="info">{{provider.contact_name | uppercase}}</div>
                  </div>
      
                </span>
      
              </mat-card-content>
              <mat-card-header>
                <mat-card-title>
                  Comentario
                </mat-card-title>
              </mat-card-header>
              <mat-card-content style="padding:15px;">
                <p>{{document.comment}}</p>
              </mat-card-content>
            </mat-card>            
          
          </div>


        </mat-expansion-panel>





      </div>

      <div style="display: flex; flex-wrap: wrap; Justify-content: space-around;">

        <mat-card class="inner-card" *ngIf="movementDispatches && movementDispatches.length > 0">
            <mat-card-header>
                <mat-card-title>
                    Devolución a proveedor
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>

                <form [formGroup]="formGroup"  >

                  <mat-form-field appearance="outline" style="flex-grow: 1;margin:5px; width: 100%;">
                      <mat-label>Recepción(*) </mat-label>
                      <mat-select formControlName='dispatch' >
                        <mat-option (selectionChange)="dispatchSelect($event)" selected="0" *ngFor="let md of movementDispatches" [value]="md">
                          <b class="blue"> Código de recepción:</b> {{md.id}} <b class="blue">Fecha:</b> {{md.created_at | date:'shortDate' }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field  appearance="outline" style="flex-grow: 1;margin:5px; width: 100%;">
                    <textarea appearance="outline" formControlName="comment" matInput placeholder="Comentarios" value=""></textarea>
                  </mat-form-field>


                  <div *ngIf="currentDispatch">
                    
                    <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource" formArrayName="articles">

                      <ng-container cdkColumnDef="article_code">
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_CODE_' | translate }}:</span>
                          <app-article-info  [id]="element.article_id" [code]="element.article_code"></app-article-info>
                          
                        </mat-cell>
                      </ng-container>
          
                      <ng-container cdkColumnDef="article_name">
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_NAME_' | translate }}:</span>
                          {{element.article_name}}
                        </mat-cell>
                      </ng-container>
          
                      <ng-container cdkColumnDef="quantity" >
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._QUANTITY_'| translate }}:</span>
                          {{element.quantity}}
                        </mat-cell>
                      </ng-container>

                      <ng-container cdkColumnDef="quantity_left" >
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._QUANTITY_LEFT_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._QUANTITY_LEFT_'| translate }}:</span>
                          {{element.quantity_left}}
                        </mat-cell>
                      </ng-container>

                      <ng-container cdkColumnDef="batch" >
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._BATCH_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._BATCH_'| translate }}:</span>
                          {{element.batch}}
                        </mat-cell>
                      </ng-container>

                      <ng-container cdkColumnDef="n_serie" >
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._N_SERIE_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._N_SERIE_'| translate }}:</span>
                          {{element.n_serie}}
                        </mat-cell>
                      </ng-container>

                      

                      <ng-container cdkColumnDef="return_quantity" >
                        <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                          {{ 'SUPPLYING.ORDER._RETURN_QUANTITY_' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                          <mat-form-field style="padding:5px;">
                            <input matInput formControlName="return_quantity">
        
                          </mat-form-field>
          
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
                    </mat-table>
 


                    
                    <mat-card class="inner-card" >
                      <mat-card-content style="padding:15px;">
                        <span fxLayout="row" style="display: flex; flex-direction: row;">
                
                          <button style="margin:15px;" [disabled]="!formGroup.valid" (click)="send()" style="flex-grow: 1;" mat-raised-button
                            color="accent">
                            <mat-icon>border_color</mat-icon> Devolver artículos
                          </button>
                          <button style="margin:15px;" (click)="clearForm()" style="width: 100%;margin-top:5px;" style="flex-grow: 1;" mat-raised-button >
                            <mat-icon >replay</mat-icon> Limpiar formulario
                          </button>
                
                        </span>
                      </mat-card-content>
                    </mat-card>

                  </div>

                </form>



              </mat-card-content>
        </mat-card>

        <mat-card class="inner-card" *ngIf="!movementDispatches || movementDispatches.length == 0">
          <mat-card-header class="mat-card-header-error">
            <mat-card-title aria-label>
              Devolución a proveedor
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" style="height: 200px;">
            <h1 style="text-align: center;">
              <mat-icon [inline]="true">warning</mat-icon>
            </h1>
            <h4 style="text-align: center;">
              La OC no tiene recepciones.
            </h4>
          </mat-card-content>
        </mat-card>

      </div>
      

  </div>
</div>