<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading && serviceData">
  <form [formGroup]="formGroup">

    <mat-card *ngIf="!isActive" class="dashboard-card">
      <mat-card-header class="mat-card-header-error">
        <mat-card-title aria-label>
          Servicio desactivado
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="editModule" class="dashboard-card-content">
        <span fxLayout="row" style="margin-top:5px;">
          <button (click)="toggleStatus()" style="width: 100%;" mat-raised-button color="primary">
            <mat-icon>done</mat-icon> Activar Servicio
          </button>
        </span>
      </mat-card-content>
    </mat-card>

    <span *ngIf="isActive">

      <mat-card class="inner-card">
        <mat-card-header>
          <mat-card-title>
            <mat-slide-toggle (click)="activeEditMode();"></mat-slide-toggle>
            Datos de Servicio
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding:15px;">
          <div class="order-container">

            <span fxLayoutAlign="start" style="flex-wrap:wrap;">

              <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
                <mat-label>Nombre (*)</mat-label>
                <input appearance="outline" class="mobile-form-input" formControlName="name" matInput
                  placeholder="Nombre">
                <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </span>
            <span fxLayoutAlign="start" style="flex-wrap:wrap;">
              <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
                <mat-label>Descripción</mat-label>
                <input lass="mobile-form-input" formControlName="description" matInput placeholder="Descripcion">
                <mat-error *ngIf="formGroup.controls['description'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </span>
            <span fxLayoutAlign="start" style="flex-wrap:wrap;">
              <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
                <mat-label>Código</mat-label>
                <input appearance="outline" class="mobile-form-input" formControlName="code" matInput
                  placeholder="Codigo">
                <mat-error *ngIf="formGroup.controls['code'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </span>
            <span fxLayoutAlign="start" style="flex-wrap:wrap;">
              <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
                <mat-label>Item Presupuestario(*) </mat-label>
                <mat-select formControlName="budget_item">
                  <mat-option selected="0" *ngFor="let bi of budgetItem" [value]="bi"
                    matTooltip="{{bi.code}} - {{bi.name}}">
                    {{bi.code}} - {{bi.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.controls['budget_item']?.hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>

              </mat-form-field>

            </span>

          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="editMode" class="inner-card">
        <mat-card-content style="padding:15px;">
          <span fxLayout="row">
            <button [disabled]="formGroup.invalid" style="width: 100%;" (click)="edit()" mat-stroked-button
              color="accent">
              <mat-icon>create</mat-icon> Actualizar Servicio
            </button>
          </span>
          <span fxLayout="row" style="margin-top:15px;">
            <button (click)="toggleStatus()" class="red-button" mat-raised-button color="secondary">
              <mat-icon>cancel</mat-icon> Desactivar servicio
            </button>
          </span>
        </mat-card-content>
      </mat-card>
    </span>
  </form>
</div>