<h1 mat-dialog-title style="text-align: center"> Codificación masiva</h1>

<div style="width: 100%;" mat-dialog-content style="display: flex; flex-wrap: wrap; Justify-content: space-around;">

   <span style="text-align: center">
     <p>¿Está seguro que desea aplicar estos cambios? Esta acción es irreversible.</p>
   </span>

</div>
<div mat-dialog-actions *ngIf="!loading">
  <button mat-button color="primary" (click)="accept()" [disabled]="loading" cdkFocusInitial> 
    <mat-icon>check</mat-icon> Aplicar cambios 
  </button>  
  <button mat-button color="accent" [disabled]="loading" (click)="onNoClick()"> 
    <mat-icon>cancel</mat-icon> No aplicar cambios
  </button>
</div>
<div mat-dialog-actions *ngIf="loading">
    <p style="color:#689FD1">Cargando...</p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>