<mat-card class="dashboard-card">
  <mat-card-header class="mat-card-blue-header">
    <mat-card-title aria-label>
      <h2 class="blue" style="display: inline;"> {{ 'HOME._DASHBOARD_' | translate }} </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <span style="display: flex; flex-wrap: wrap; justify-content: space-between;width: 100%;">

      <mat-card style="flex-basis:30%; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Artículos más solicitados</mat-card-title>
        </mat-card-header>
        <mat-card-content style="min-height: 300px;">
          <canvas id="lineChart3"></canvas>
        </mat-card-content>
      </mat-card>

      <mat-card style="flex-basis:30%; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Ordenes de Compra</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas id="lineChart"></canvas>
        </mat-card-content>

      </mat-card>

      <mat-card style="flex-basis:30%; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Proveedores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas id="lineChart2"></canvas>
        </mat-card-content>

      </mat-card>
    </span>
  </mat-card-content>
</mat-card>