<mat-card class="dashboard-card">
  <mat-card-header class="mat-card-blue-header">
    <mat-card-title aria-label>
      <h2 class="blue" style="display: inline;"> {{ 'HOME._DASHBOARD_' | translate }}  </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
    <span *ngIf="!isLoading" style="display: flex; flex-wrap: wrap; justify-content: space-between;width: 100%;">
      
      <mat-card style="flex-basis:30%; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>{{ escenarios.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="min-height: 300px;">
          <img src="assets/images/banners/storys/story1.jpg" width="100%" alt="Historia 1">
        </mat-card-content>
      </mat-card>

      <mat-card style="flex-basis:30%; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Progreso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque felis dignissim neque rutrum, ac accumsan eros egestas. 
            Integer commodo ex non dolor ornare accumsan. In placerat condimentum laoreet. Quisque rutrum posuere odio, quis viverra lacus rhoncus quis.
             Nulla enim urna, laoreet ac odio vel, posuere auctor risus. Sed et velit dui. Donec maximus fermentum massa, eget feugiat orci vulputate non. 
             Mauris enim augue, facilisis in tristique ut, faucibus a nunc. Suspendisse varius, est in viverra mollis, 
             lacus augue cursus diam, et varius elit sapien id tortor. Curabitur condimentum tincidunt tincidunt. Mauris consectetur ullamcorper turpis.</p>
             <p><strong >Unete ahora!</strong></p>
             <p>
              <button style="display: block;width: 100%;text-align: left;" mat-button color="primary" routerLink="begin">
                <mat-icon>check</mat-icon> Comenzar
              </button>
             </p>
        </mat-card-content>

      </mat-card>

      <mat-card style="flex-basis:30%; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Resumen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque felis dignissim neque rutrum, ac accumsan eros egestas. 
            Integer commodo ex non dolor ornare accumsan. In placerat condimentum laoreet. Quisque rutrum posuere odio, quis viverra lacus rhoncus quis.
             Nulla enim urna, laoreet ac odio vel, posuere auctor risus. Sed et velit dui. Donec maximus fermentum massa, eget feugiat orci vulputate non. 
             Mauris enim augue, facilisis in tristique ut, faucibus a nunc. Suspendisse varius, est in viverra mollis, 
             lacus augue cursus diam, et varius elit sapien id tortor. Curabitur condimentum tincidunt tincidunt. Mauris consectetur ullamcorper turpis.
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque felis dignissim neque rutrum, ac accumsan eros egestas. 
             Integer commodo ex non dolor ornare accumsan. In placerat condimentum laoreet. Quisque rutrum posuere odio, quis viverra lacus rhoncus quis.
            Nulla enim urna, laoreet ac odio vel, posuere auctor risus. Sed et velit dui. Donec maximus fermentum massa, eget feugiat orci vulputate non. 
            Mauris enim augue, facilisis in tristique ut, faucibus a nunc. Suspendisse varius, est in viverra mollis, 
            lacus augue cursus diam, et varius elit sapien id tortor. Curabitur condimentum tincidunt tincidunt. Mauris consectetur ullamcorper turpis.
            </p>
        </mat-card-content>

      </mat-card>
    </span>
  </mat-card-content>
</mat-card>