<span style="display: flex; flex-wrap: wrap;">

  <mat-card class="inner-card">
    <mat-card-header style="width:100%;">
      <mat-card-title style="display: inline-flex; flex-wrap: nowrap; justify-content: space-between;width: 100%;">
        <span style="flex-basis: 40%;">Pedido #{{_movement.correlative}} </span>
        <span style="color:white;font-size: 13px;">
          {{_movement?.movement_state?.name}}
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:15px;line-height: 50%;">

      <seis-movement-description-card [location-A]="_movement.origin_name" [location-B]="_movement.destination_name"
        [movement]="_movement.movement_type">
      </seis-movement-description-card>

      <h2 class="blue">{{_movement.movement_type.name | uppercase}}</h2>
      <p><b>Creado en:</b> <span class="blue">{{_movement.created_at | date:'M/d/yy, h:mm:ss a' }}</span> </p>

      <p><b>Solicitado por:</b> <span class="blue">{{_movement.user.username | uppercase}}</span> </p>
      <p><b>Autorizado por:</b> <span class="blue">{{_movement.user.username | uppercase}}</span> </p>

      <p *ngIf="_movement.comment" style="font-style: italic;padding:1px;"><b>"</b>{{_movement.comment}}<b>"</b></p>

    </mat-card-content>
  </mat-card>

  <mat-card class="inner-card">
    <mat-card-header>
      <mat-card-title>
        Información del pedido
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:15px;">

      <p>
        <mat-icon [inline]="true">call_made</mat-icon> <b>Artículos recepcionados:</b> ({{dispatched}} de {{requested}})
        <seis-progress *ngIf="dispatched" [progress]="dispatched/requested*100"></seis-progress>
      </p>
      <p *ngIf="transit">
        <mat-icon [inline]="true">redo</mat-icon> <b>Artículos en tránsito:</b> ({{transit}} de {{requested}})
        <seis-progress [progress]="transit/requested*100"></seis-progress>
      </p>
      <p>
        <mat-icon [inline]="true">forward</mat-icon> <b>Artículos despachados:</b> ({{transit+dispatched}} de
        {{requested}})

        <seis-progress *ngIf="transit ||  dispatched" [progress]="(transit+dispatched)/requested*100"></seis-progress>

      </p>

    </mat-card-content>
  </mat-card>

</span>