<form style="width: 100%;" [formGroup]="formGroup">

  <mat-form-field appearance="outline" style="width: 100%;" *ngIf="!_target">
    <mat-label>{{fieldname}} </mat-label>
    <input formControlName="user_text" style="width: 100%;" matInput placeholder="{{placeholder}}"
      [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" style="min-width: 600px;">
    <ng-container>

      <ng-container *ngIf="(userList$ | async)?.data?.results as list">
        <ng-container *ngIf="!transferAutocompleteLoading">
          <mat-option *ngFor="let target of list" (onSelectionChange)="onSelectedTransferOption(target);"
            [value]="target">

            <p>
              <span><b>{{target.person?.name}} {{target.person?.last_name}} {{target.person?.mother_last_name}}
                </b></span>
            </p>
            <p>
              <span *ngIf="target.username">
                Username: <span class="blue">{{target.username}}</span>
              </span>
              <span *ngIf="target.person?.run">
                Run: <span class="blue">{{target.person.run}}</span>
              </span>
              <span *ngIf="target.person?.email">
                Email:<span class="blue">{{target.person.email}}</span>
              </span>
            </p>

          </mat-option>
        </ng-container>
      </ng-container>

      <mat-option *ngIf="autocompleteLoading && formGroup.get('user_text')?.value?.length > 2">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-option>
      <mat-option
        *ngIf="!autocompleteLoading && formGroup.get('user_text')?.value?.length > 3 && (userList$ | async)?.data.results.length == 0"
        style="width: 100%;" disabled>
        <span style="font-size: 12px;width: 100%;display: flex;align-content:space-around;">
          <p>No se encontraron usuarios.</p>
        </span>
      </mat-option>
      <mat-option *ngIf="!autocompleteLoading && formGroup.get('user_text')?.value?.length < 3" style="width: 100%;"
        disabled>
        <span>
          <p style="color:gray">Ingrese 4 o más carácteres para buscar.</p>
        </span>
      </mat-option>

    </ng-container>
  </mat-autocomplete>

  <mat-chip-list *ngIf="_target && _target?.person" style="width: 100% !important;height: fit-content !important;">

    <mat-chip style="width: 100% !important;height: fit-content !important;" selected class="mat-chip-list-stacked"
      (removed)="removeTarget(); propagateChange();">
      <span class="info-title" style="margin-left: 15px; color: white;"><b *ngIf="_fieldname"> {{_fieldname}}: </b>
        {{_target.person?.name}} {{_target.person?.last_name}} </span>
      <mat-icon *ngIf="!_isDisabled" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <br>
  </mat-chip-list>


</form>