<div>

  <form [formGroup]="filterGroup" fxLayoutAlign="start" fxLayoutGap="15px" fxLayout="row wrap" style="margin-bottom: 15px;">

    <!-- CODE / NAME ARTICLE -->
    <span style="flex-basis: 88%;flex-grow: 1;"  >
      <supplying-article-autocomplete 
        [institution]="currentInstitution"
        formControlName="codeInput">
      </supplying-article-autocomplete>
    </span>

    <button [disabled]="!filterGroup.valid" 
      style="height: 40px; flex-basis: 10%; flex-grow: 1; " mat-raised-button color="primary"
      (click)="loadDataWithFilter()">
      <mat-icon>search</mat-icon>
    </button>

  </form>

  <div *ngIf="isLoading">
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
  </div>

  <div *ngIf="this.results.length < 1">
    <h3 style="text-align: center;">
      No hay resultados.
    </h3>
  </div>

  <mat-table *ngIf="!isLoading && this.results.length > 0" [class.isMobile]="isMobile" [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container cdkColumnDef="code">
      <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>Código</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <span class="mobile-label blue">Código:</span>
        <app-article-info [id]="element.id" [code]="element.code" ></app-article-info>
      </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data">
          <span class="mobile-label blue">Nombre:</span>
          {{element.name}}
        </p>
      </mat-cell>
    </ng-container>


    <ng-container cdkColumnDef="priority">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Prioridad</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data">
          <span class="mobile-label blue">Prioridad:</span>
          {{element.priority.name }}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="budget_item">
      <mat-header-cell md-sort-header *cdkHeaderCellDef>Item</mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <p class="table-data">
          <span class="mobile-label blue">Item:</span>
          {{element.budget_item.name}}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell md-sort-header *cdkHeaderCellDef> </mat-header-cell>
      <mat-cell *cdkCellDef="let element">
        <span class="mobile-label blue"><b>Opciones:</b></span>
        <button matTooltip="Detalle" mat-button color="primary" routerLink="/supplying/articles/detail/{{element.id}}">
          <mat-icon>assignment</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="pageNumber" [hidePageSize]="true" [pageSizeOptions]="[10]" (page)="loadPageData(page)"
    showFirstLastButtons></mat-paginator>

</div>