<mat-card class="dashboard-card">
  <mat-card-header class="mat-card-blue-header">
    <mat-card-title aria-label>
      <h2 class="blue" style="display: inline;"> {{ '_SUPPLYING_' | translate | uppercase }} | </h2>
      <p class="light-green" style="display: inline;">
        <mat-icon [inline]="true">{{section_icon}}</mat-icon>{{section_title | translate | uppercase  }}
      </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>