<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form [formGroup]="costcenterFormgroup">

    <mat-card class="inner-card">
      <mat-card-content class="mat-header-row">
        <button (click)="clearForm()" mat-raised-button>
          <mat-icon>replay</mat-icon> Limpiar formulario
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          Datos centro de costo
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <div class="order-container" *ngIf="communes">

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">

            <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
              <input appearance="outline" class="mobile-form-input" formControlName="name" matInput
                placeholder="Nombre">
              <mat-error *ngIf="costcenterFormgroup.controls['name'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>

          </span>

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
              <mat-label>Centro de costo padre(*) </mat-label>
              <mat-select formControlName="cost_center">

                <mat-option>
                  Sin selección
                </mat-option>

                <mat-option selected="0" *ngFor="let cc of costCenters" [value]="cc.id">
                  {{cc.name}}
                </mat-option>

              </mat-select>
              <mat-error *ngIf="costcenterFormgroup.controls['cost_center']?.hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>

            </mat-form-field>
          </span>

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">

            <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
              <mat-label>Perc(*) </mat-label>
              <mat-select formControlName="perc">

                <mat-option>
                  Sin selección
                </mat-option>

                <mat-option selected="0" *ngFor="let perc of percs" [value]="perc.id">
                  {{perc.name}}
                </mat-option>

              </mat-select>
              <mat-error *ngIf="costcenterFormgroup.controls['perc']?.hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>

            </mat-form-field>

          </span>

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
              <mat-label>Ubicación(*) </mat-label>
              <mat-select multiple formControlName="location">
                <mat-option selected="0" *ngFor="let location of locations" [value]="location">
                  {{location.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="costcenterFormgroup.controls['location']?.hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </span>

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-checkbox class="margin" formControlName="can_request">
              ¿Puede pedir?
            </mat-checkbox>
            <mat-checkbox class="margin" formControlName="can_associate_recipe">
              ¿Puede asociar recetas?
            </mat-checkbox>
            <mat-checkbox class="margin" formControlName="is_active">
              ¿Activo?
            </mat-checkbox>

          </span>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          Añadir artículos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">

        <form [formGroup]="articleFormGroup">

          <supplying-article-autocomplete formControlName="article">
          </supplying-article-autocomplete>

          <br>
          <button [disabled]="articleFormGroup.controls['article'].hasError('required')" (click)="addArticle()"
            mat-stroked-button color="primary">Agregar al listado</button>

        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          Artículos de la orden
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <div class="order-container">

          <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource">

            <ng-container cdkColumnDef="article_code">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_CODE_' | translate }}:</span>
                <app-article-info [id]="element.article_id" [code]="element.article_code"></app-article-info>

              </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="article_name">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_NAME_' | translate }}:</span>
                {{element.article_name}}
              </mat-cell>
            </ng-container>


            <ng-container cdkColumnDef="actions">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ACTIONS_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ACTIONS_' | translate }}:</span>
                <button (click)="removeArticle(rowIndex)" mat-button color="primary">Quitar</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
          </mat-table>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-content style="padding:15px;">
        <span fxLayout="row">
          <button [disabled]="costcenterFormgroup.invalid" (click)="send()" style="width: 100%;" mat-raised-button
            color="accent">
            <mat-icon>border_color</mat-icon> Crear centro de costo
          </button>
        </span>
      </mat-card-content>
    </mat-card>

  </form>
</div>