<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form [formGroup]="formGroup">

    <mat-card class="inner-card">
      <mat-card-content class="mat-header-row">
        <button (click)="clearForm()" mat-raised-button>
          <mat-icon>replay</mat-icon> Limpiar formulario
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          Datos ubicación
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <div class="order-container" *ngIf="locationTypes">

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">

            <mat-form-field appearance="outline" style="margin:5px;flex-grow: 1;">
              <input appearance="outline" class="mobile-form-input" formControlName="name" matInput
                placeholder="Nombre">
              <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;" class="mobile-form-input">
              <mat-label>Tipo de ubicación(*) </mat-label>
              <mat-select formControlName="location_type">

                <mat-option>
                  Sin selección
                </mat-option>

                <mat-option selected="0" *ngFor="let loc of locationTypes" [value]="loc.id">
                  {{loc.name}}
                </mat-option>

              </mat-select>
              <mat-error *ngIf="formGroup.controls['location_type']?.hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>

            </mat-form-field>

          </span>

          <span fxLayoutAlign="start" style="flex-wrap:wrap;">
            <mat-checkbox class="margin" value="false" formControlName="receive_from_provider">
              ¿Recibe de proveedor?
            </mat-checkbox>
            <mat-checkbox class="margin" value="false" formControlName="can_dispatch_to_cellar">
              ¿Puede despachar a bodega?
            </mat-checkbox>
            <mat-checkbox class="margin" value="false" formControlName="can_dispatch_to_cost_center">
              ¿Puede despachar a centro de costo?
            </mat-checkbox>
            <mat-checkbox class="margin" value="false" formControlName="can_dispatch_to_patien">
              ¿Puede despachar a paciente?
            </mat-checkbox>

          </span>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
      <mat-card-content style="padding:15px;">
        <span fxLayout="row">
          <button [disabled]="formGroup.invalid" (click)="send()" style="width: 100%;" mat-raised-button color="accent">
            <mat-icon>border_color</mat-icon> Crear ubicación
          </button>
        </span>
      </mat-card-content>
    </mat-card>

  </form>
</div>