<h1 mat-dialog-title style="text-align: center"> Codificar</h1>

<div style="width: 100%;" mat-dialog-content style="display: flex; flex-wrap: wrap; Justify-content: space-around;">

    <form style="width: 100%;" [formGroup]="detailTransferFormGroup">

        <span fxLayout="row">

            <p *ngIf="selectedTransfer.comment != ''">

                <span class="target_comment">"{{selectedTransfer?.comment}}"</span>
                <span class="target_type" *ngIf="selectedTransfer.item_type">
                    <span *ngIf="selectedTransfer.item_type==1">(Actualmente codificado como un artículo)</span>
                    <span *ngIf="selectedTransfer.item_type==0">(Actualmente codificado como servicio)</span>
                </span>

            </p>
        </span>
        <span fxLayout="row">

        </span>


        <span fxLayout="row" style="margin-top:15px;" *ngIf="!selectedTransfer._temporaryTarget">

            <mat-radio-group matInput formControlName="transferRadioButton" [(ngModel)]="selectedTransfer._type"
                aria-label="Seleccione una opcion">

                <mat-radio-button value="ARTICLE">
                    Artículo
                </mat-radio-button>
                <mat-radio-button style="margin-left:25px" value="SERVICE">
                    Servicio
                </mat-radio-button>
                <mat-radio-button *ngIf="currentOption==1" style="margin-left:25px" value="REMOVE">
                    Quitar codificación
                </mat-radio-button>


            </mat-radio-group>

        </span>
        <span fxLayout="row" style="margin-top: 15px;" *ngIf="!selectedTransfer._temporaryTarget">

            <supplying-article-autocomplete style="width: 100%;" *ngIf="selectedTransfer._type != 'REMOVE'"
                [service]="(selectedTransfer._type=='SERVICE')?true:false"
                (ArticleChange)="onSelectedTransferOption($event)">
            </supplying-article-autocomplete>

        </span>

        <span fxLayout="row" style="margin-top: 15px;width: 100%;">
            <span *ngIf="selectedTransfer._temporaryTarget" style="width: 100%;min-width: 400px;">
                <mat-chip-list style="width:fit-content">
                    <mat-chip style="width: fit-content;min-height: 50px;text-align: center;"
                        (removed)="removeTemporaryTransfer()">
                        {{ selectedTransfer._temporaryTarget.name }}
                        <span style="margin-left: 2px;font-size: 12px;color:#689FD1;"
                            *ngIf="selectedTransfer._type == 'SERVICE'">
                            Servicio
                        </span>
                        <span style="margin-left: 2px;font-size: 12px;color:#689FD1;"
                            *ngIf="selectedTransfer._type == 'ARTICLE'">
                            Articulo
                        </span>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </span>
        </span>

    </form>


</div>
<div mat-dialog-actions>

    <button type="button" *ngIf="!selectedTransfer._edited"
        [disabled]="!selectedTransfer._temporaryTarget && selectedTransfer._type != 'REMOVE'" mat-raised-button
        color="primary" (click)="editTransfer()">
        <mat-icon inline>check</mat-icon> Editar
    </button>
    <button type="button" mat-raised-button color="warn" (click)="onNoClick()">
        Cancelar</button>

</div>