<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading && dataLoaded">

  <span style="display: flex; flex-wrap: wrap;" style="width: 100%;">
    <mat-card class="description-card-container">
      <h3 style="width: 100%;"><b style="color: white !important;">{{ fine._agreement | uppercase }}</b></h3>
      <h2 style="width: 100%;"><b>Licitación:</b> <span style="color:white;">{{ fine._bidding }}</span></h2>
      <h2 style="width: 100%;"><b>Monto total:</b> <span style="color:white;">{{ fine._amount | currency:'CLP' }}</span></h2>
      <h2 style="width: 100%;"><b>Cancelado:</b> 
        <span class="blue" *ngIf="fine._is_cancelled"><b style="color: white">  SI </b></span>
        <span class="blue" *ngIf="!fine._is_cancelled"><b style="color: white"> NO </b></span>
      </h2>
    </mat-card>
  </span>

  <span style="display: flex; flex-wrap: wrap;" style="width: 100%;">

    <mat-card class="inner-card">
      <mat-card-header style="width:100%;">
        <mat-card-title style="display: inline-flex; flex-wrap: nowrap; justify-content: space-between;width: 100%;">
          Multa
        </mat-card-title>
      </mat-card-header>

      <mat-card-content style="padding:15px;flex-wrap: wrap">
        <p><b>Descripción:</b> <span class="blue"> {{ fine._comment }}</span> </p>
        <p><b>Concepto:</b> <span class="blue"> {{ fine._concept }}</span> </p>
        <p><b>Estado:</b> <span class="blue"> {{ fine._status }}</span> </p>
        <p><b>Fecha de notificación:</b> <span class="blue"> {{fine._notification_date | date:'d/M/yy' }}</span> </p>
        <p><b>Fecha descargo:</b> <span class="blue"> {{fine._discharge_date | date:'d/M/yy' }}</span> </p>
        <p><b>Fecha resolución:</b> <span class="blue"> {{fine._resolution_date | date:'d/M/yy' }}</span> </p>
        <p><b>Numero resolución:</b> <span class="blue"> {{ fine._resolution_number }}</span> </p>
        <p><b>Numero exp:</b><span class="blue" *ngIf="agreementData.comment"> {{ fine._exp_number }}</span> </p>
        <p><b>Monto:</b><span class="blue" *ngIf="agreementData.comment"> {{ fine._amount }}</span> </p>
        <p><b>¿Es UTM?:</b> <span class="blue">
          <span class="blue" *ngIf="fine._is_utm">  SI </span>
          <span class="blue" *ngIf="!fine._is_utm"> NO </span>
        </span> </p>
        <p><b>¿Está cancelado?:</b> <span class="blue">
          <span class="blue" *ngIf="fine._is_cancelled">  SI </span>
          <span class="blue" *ngIf="!fine._is_cancelled"> NO </span>
        </span> </p>
      </mat-card-content>
    </mat-card>
  </span>
</div>