<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form [formGroup]="articleFormGroup" (ngSubmit)="sendArticle()">

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          <mat-slide-toggle (click)="activeEditMode();"></mat-slide-toggle>
          Datos Artículo
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">

        <div class="article-container">
          <mat-form-field>
            <input formControlName="code"  matInput placeholder="Código" >
            <mat-error *ngIf="articleFormGroup.controls['code'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>             
          </mat-form-field>

          <mat-form-field>
            <input formControlName="name" matInput placeholder="Nombre">
            <mat-error *ngIf="articleFormGroup.controls['name'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>                
          </mat-form-field>

          <mat-form-field>
            <input formControlName="description" matInput placeholder="Descripción" >
            <mat-error *ngIf="articleFormGroup.controls['description'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
            </mat-error>                  
          </mat-form-field>

          <mat-form-field>
            <mat-label>Item presupuestario</mat-label>
            <mat-select  formControlName="budget_item" >
                <mat-option  *ngFor="let option of budgetItems" [value]="option.id">
                  {{option.name}}
                </mat-option>
            </mat-select>                   
          </mat-form-field>


          <mat-form-field >
            <mat-label>Unidad</mat-label>
            <mat-select  formControlName="unity" >
                <mat-option  *ngFor="let option of unities" [value]="option.id">
                  {{option.name}}
                </mat-option>
            </mat-select>
         </mat-form-field>

          <mat-form-field>
            <mat-label>Prioridad</mat-label>
            <mat-select  formControlName="priority" >
              <mat-option  *ngFor="let option of priorities" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-select>       
          </mat-form-field>

          <div *ngIf="(drugs | json) != ({} | json)" class="FormInputs">
            
            <mat-form-field *ngIf="drugs && drugs.control_type_set.name !='' ">
                <mat-label>Tipo de control</mat-label>
                <mat-select  formControlName="controlType" [value]="drugs.control_type_set.id" >
                    <mat-option  *ngFor="let option of controlTypes" [value]="option.id">
                      {{option.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="drugs && drugs.active_principle_set.name !='' ">
              <mat-label>Principio activo</mat-label>
              <mat-select formControlName="activePrinciple" [value]="drugs.active_principle_set.id" >
                  <mat-option  *ngFor="let option of activePrinciples" [value]="option.id">
                    {{option.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="drugs && drugs.administration_unit_set.name !='' ">
                <mat-label>Unidad de administración</mat-label>
                <mat-select formControlName="administrationUnit" [value]="drugs.administration_unit_set.id" >
                    <mat-option  *ngFor="let option of administrationUnits" [value]="option.id">
                      {{option.name}}
                    </mat-option>
                </mat-select>              
            </mat-form-field>


            <mat-form-field *ngIf="drugs && drugs.administration_way_set.name !='' ">
                <mat-label>Vía de administración</mat-label>
                <mat-select formControlName="administrationWay" [value]="drugs.administration_way_set.id" >
                    <mat-option  *ngFor="let option of administrationWays" [value]="option.id">
                      {{option.name}}
                    </mat-option>
                </mat-select>                        
            </mat-form-field>
          </div>

          <span class="article-section">
            <mat-checkbox class="article-margin"  formControlName="is_refrigerated" >Es
              refrigerado?
            </mat-checkbox>
            <mat-checkbox class="article-margin" formControlName="is_arsenal" >Es arsenal?
            </mat-checkbox>
            <mat-checkbox class="article-margin" formControlName="is_perishable">Vence?
            </mat-checkbox>
          </span>


        </div>


        <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource" formArrayName="locations">
            
            <ng-container cdkColumnDef="location">
              <mat-header-cell  md-sort-header *cdkHeaderCellDef>Bodega</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
               
                  <span class="mobile-label blue">Bodega:</span>
                  {{element.location.name}}
                
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="min_stock">
              <mat-header-cell md-sort-header *cdkHeaderCellDef>Stock Mínimo</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex"> 
                <p class="table-data">
  
                  <span class="mobile-label blue">Stock Mínimo:</span>
                  <mat-form-field style="padding:5px;">
                    <input matInput  formControlName="min_stock" >
                    <mat-error *ngIf="articleFormGroup.controls['locations'].controls[rowIndex].controls['min_stock'].hasError('pattern')">
                        Debe ser un número.
                    </mat-error>                            
                  </mat-form-field>
  
                </p>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="max_stock" >
              <mat-header-cell md-sort-header *cdkHeaderCellDef>Stock Máximo</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data">
                  <span class="mobile-label blue">Stock Máximo:</span>
                  <mat-form-field style="padding:5px;">
                    <input matInput formControlName="max_stock"  >
                    <mat-error *ngIf="articleFormGroup.controls['locations'].controls[rowIndex].controls['max_stock'].hasError('pattern')">
                        Debe ser un número.
                    </mat-error>                     
                  </mat-form-field>         
                </p>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="critical_stock" >
              <mat-header-cell md-sort-header *cdkHeaderCellDef>Stock Crítico</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data">
                  <span class="mobile-label blue">Stock Crítico:</span>
                  <mat-form-field style="padding:5px;">
                    <input matInput formControlName="critical_stock" >
                    <mat-error *ngIf="articleFormGroup.controls['locations'].controls[rowIndex].controls['critical_stock'].hasError('pattern')">
                        Debe ser un número.
                    </mat-error>                                          
                  </mat-form-field>                
                </p>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="actual_stock" >
              <mat-header-cell md-sort-header *cdkHeaderCellDef>Stock Actual</mat-header-cell>
              <mat-cell *cdkCellDef="let element ; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data">
                  <span class="mobile-label blue">Stock actual:</span>
                  {{element.actual_stock}}
                </p>
              </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="assignation" >
              <mat-header-cell md-sort-header *cdkHeaderCellDef>¿Asignada a institución?</mat-header-cell>
              <mat-cell *cdkCellDef="let element ; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data">
                  <span class="mobile-label blue">¿Asignada a institución?:</span>
                  <mat-checkbox (change)="changeLocationAsignation(rowIndex);" formControlName="assigned" style="padding: 15px;" [checked]="element.assigned" ></mat-checkbox>
                </p>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
        </mat-table>


      </mat-card-content>

      <button [disabled]="!editMode" mat-stroked-button color="primary" class="add-files-btn">
          <mat-icon>create</mat-icon> Actualizar
      </button>


    </mat-card>




  </form>
</div>
