<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading ">

  <form [formGroup]="movementFormGroup">

    <mat-card class="inner-card">
      <mat-card-header>
        <mat-card-title>
          Ajustes de Stock
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">

        <div class="order-container">

          <span style="display: flex; flex-wrap: wrap;">

            <mat-form-field appearance="outline" style="flex-grow: 1;margin:5px;">
              <mat-label>Bodega origen (*)</mat-label>
              <mat-select *ngIf="!movementFormGroup.value.origin" formControlName="origin">
                <mat-option selected="0" *ngFor="let loc of locations" [value]="loc">
                  {{loc.name}}
                </mat-option>
              </mat-select>
              <mat-chip-list style="flex-grow: 1;margin:5px;" *ngIf="movementFormGroup.value.origin"
                style="height: 10px;">
                <mat-chip selected style="height: 10px;">
                  {{ (movementFormGroup.value.origin.name?.length>15)? (movementFormGroup.value.origin.name | slice:0:15)+'..':(movementFormGroup.value.origin.name) }}
                  <mat-icon matChipRemove (click)="removeFilter(movementFormGroup.get('origin'))">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>

              <mat-error *ngIf="movementFormGroup.controls['origin'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            <input matInput value="internal_location" hidden formControlName='destination'>
            
            <mat-form-field appearance="outline" style="flex-grow: 1;margin:5px;">
              <mat-label>Tipo de movimiento(*) </mat-label>
              <mat-select *ngIf="!movementFormGroup.value?.movementType" formControlName="movementType">
                <mat-option selected="0" *ngFor="let mt of movementTypes" [value]="mt">
                  {{mt.name}}
                </mat-option>
              </mat-select>
              <mat-chip-list style="flex-grow: 1;margin:5px;" *ngIf="movementFormGroup.value?.movementType"
                style="height: 10px;">
                <mat-chip selected style="height: 10px;">
                  {{ (movementFormGroup.value.movementType.name.length>20)? (movementFormGroup.value.movementType.name | slice:0:20)+'..':(movementFormGroup.value.movementType.name) }}
                  <mat-icon matChipRemove (click)="removeFilter(movementFormGroup.get('movementType'))">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <mat-error *ngIf="movementFormGroup.controls['movementType'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            
            <span style="color:blue;">
              <button [hidden]="movementDefaultInfoSet==true"
                [disabled]="!movementFormGroup.value.movementType && !movementFormGroup.value.origin && !movementFormGroup.value.destination"
                (click)="removeMovementFilters()" mat-raised-button style="width: 100%;margin-top:15px;">
                <mat-icon>clear_all</mat-icon> Limpiar
              </button>
            </span>
          </span>    
          <mat-form-field appearance="outline" style="flex-grow: 1;margin:5px;">
            <textarea appearance="outline" formControlName="comment" matInput placeholder="Comentarios"
              value=""></textarea>
            <mat-error *ngIf="movementFormGroup.controls['comment'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card> 

    <mat-card class="inner-card" [hidden]="!movementFormGroup.controls['origin']?.value">
      <mat-card-header>
        <mat-card-title>
          Añadir artículos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        
        <form [formGroup]="articleFormGroup">
          <supplying-article-autocomplete [institution]="currentInstitution"
            [origin]="movementFormGroup.controls['origin']?.value"
            [destination]="movementFormGroup.controls['destination']?.value"
            [locationType]="movementFormGroup.controls['movementType'].value?.location_type" formControlName="article">
          </supplying-article-autocomplete>
          <br>
          <div *ngIf="isLoadingArticleStockInfo && articleFormGroup.controls['article'].value!=''">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <div  *ngIf="articleFormGroup.controls['article'].value!='' && !isLoadingArticleStockInfo && (articleInfo$ | async) as articleInfo ">
            <button
              [disabled]="articleFormGroup.controls['article'].hasError('required')"
              (click)="addArticle(articleInfo)" mat-stroked-button color="primary">Agregar al listado</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card" [hidden]="!movementFormGroup.controls['origin']?.value">
      <mat-card-header>
        <mat-card-title>
          Artículos de la orden
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <div class="order-container">
          <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource" formArrayName="articles">

            <ng-container cdkColumnDef="article">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef >
                {{ 'SUPPLYING.ARTICLE._ARTICLE_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex" >
                <p class="table-data" [class.delete-label]="!element.active">
                  <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_' | translate }}:</span>
                  <span >{{element.article_name}}({{element.article_code}})</span>
                </p>
              </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="expire_date">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ARTICLE._EXPIRE_DATE_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data" [class.delete-label]="!element.active">
                  <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._EXPIRE_DATE_' | translate }}:</span>
                  <span *ngIf="element.active">
                    <span *ngIf="element.expire_date">
                      <mat-form-field style="padding:5px;" *ngIf="movementFormGroup.controls['movementType'].value?.id==7 || movementFormGroup.controls['movementType'].value?.id==9">
                        <input matInput [matDatepicker]="picker" [placeholder]="element.expire_date"
                          formControlName='new_expire_date'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <span *ngIf="movementFormGroup.controls['movementType'].value?.id!=7 && movementFormGroup.controls['movementType'].value?.id!=9">{{element.expire_date}}</span>
                    </span>
                  </span>
                  <span *ngIf="!element.expire_date">
                    <span  style="padding:5px;" *ngIf="element.active || movementFormGroup.controls['movementType'].value?.id!=7 || movementFormGroup.controls['movementType'].value?.id!=9">
                      Sin fecha vencimiento
                    </span>
                  </span>
                </p>
              </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="batch">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ARTICLE._BATCH_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data" [class.delete-label]="!element.active">
                  <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_CODE_' | translate }}:</span>
                  <span *ngIf="element.active">
                    <mat-form-field style="padding:5px;" *ngIf="movementFormGroup.controls['movementType'].value?.id==7">
                      <input matInput formControlName="new_batch"  [placeholder]="element.batch" >
                    </mat-form-field>
                  </span>
                  <span *ngIf="!element.active || movementFormGroup.controls['movementType'].value?.id!=7">{{element.batch}}</span>
                </p>
              </mat-cell>
            </ng-container>


            <ng-container cdkColumnDef="n_serie">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ARTICLE._N_SERIE_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data" [class.delete-label]="!element.active">
                  <span class="mobile-label blue">{{ 'SUPPLYING.ARTICLE._N_SERIE_' | translate }}:</span>
                  <span *ngIf="element.active">
                    <mat-form-field style="padding:5px;" *ngIf="movementFormGroup.controls['movementType'].value?.id==7">
                      <input matInput formControlName="new_n_serie" [placeholder]="element.n_serie" >
                    </mat-form-field>
                  </span>
                  <span *ngIf="!element.active || movementFormGroup.controls['movementType'].value?.id!=7">{{element.n_serie}}</span>
                </p> 
              </mat-cell>
            </ng-container>
    

            <ng-container cdkColumnDef="quantity">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ARTICLE._STOCK_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <p class="table-data" [class.delete-label]="!element.active">
                  <span *ngIf="element.active">
                    <mat-form-field style="padding:5px;" *ngIf="movementFormGroup.controls['movementType'].value?.id==7 || movementFormGroup.controls['movementType'].value?.id==8">
                      <input matInput formControlName="new_quantity" [placeholder]="element.quantity">
                    </mat-form-field>
                  </span>
                  <span *ngIf="!element.active || movementFormGroup.controls['movementType'].value?.id==9 || !movementFormGroup.controls['movementType'].value?.id">{{element.quantity}}</span>
                </p>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="active" hidden>
                <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                 Status</mat-header-cell>
                <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">

                    <mat-form-field style="padding:5px;" hidden>
                      <input matInput formControlName="active" [value]="element.active">
                    </mat-form-field>
                    <mat-icon style="padding:5px;" *ngIf="element.active"
                      matTooltip="habilitado para el envío">check_circle</mat-icon>

                    <mat-icon style="padding:5px;" [class.delete-label-text]="!element.active"
                      matTooltip="Deshabilitado para el envío"
                      *ngIf="!element.active">highlight_off</mat-icon>

                  </mat-cell>
              </ng-container>

            <ng-container cdkColumnDef="actions">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef >
                {{ 'SUPPLYING.ORDER._ACTIONS_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ACTIONS_' | translate }}:</span>
                <button *ngIf="element.active" (click)="deactivateArticle(rowIndex)" mat-button color="primary">Deshabilitar</button>
                <button *ngIf="!element.active" (click)="activateArticle(rowIndex)" mat-button color="primary">Habilitar</button>
                <button (click)="removeArticle(rowIndex)" mat-button color="primary">Quitar</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
          </mat-table>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="inner-card">
        <mat-card-content style="padding:15px;">
          <span fxLayout="row" style="display: flex; flex-direction: row;">
  
            <button style="margin:15px;"  [disabled]="!movementFormGroup.valid" (click)="send()"
              style="flex-grow: 1;" mat-raised-button color="accent">
              <mat-icon>border_color</mat-icon> Crear movimiento
            </button>
            <button style="margin:15px;" (click)="clearForm()" style="width: 100%;margin-top:5px;" style="flex-grow: 1;"
              mat-raised-button>
              <mat-icon>replay</mat-icon> Limpiar formulario
            </button>
  
          </span>
        </mat-card-content>
      </mat-card>

  </form>
</div>