<ng-template #HtmlContent>
  <span >
      <span *ngIf="!loaded">
          <mat-label style="text-align: center; ">
            <p style="color:#689FD1">
              <mat-spinner style="margin:0 auto;" [diameter]="30"></mat-spinner>
            </p>
          </mat-label>
      </span>
      <span *ngIf="loaded" style="text-align: left; "> 
        
          <strong>Orden de Compra</strong> 
          <br>
          <ul style="font-size: 10px;">
            <li *ngIf="ocType == 'ARTICLE'">Orden de compra de artículos.</li>
            <li *ngIf="ocType == 'SERVICE'">Orden de compra de servicios.</li>
            <li *ngIf="transferElementCount>0"> items pendientes de codificación.</li>
            <li *ngIf="articleElementCount>0">{{articleElementCount}} Artículo(s) codificados.</li>
            <li *ngIf="serviceElementCount>0">{{serviceElementCount}} Servicio(s) codificados.</li>
            <li *ngIf="lastHistory">{{lastHistory.movement_state.name}} por {{lastHistory.user_name}}.</li>
          </ul>
         
       
      </span>
  </span>

</ng-template>

<span [tooltip]="HtmlContent" placement="right" (events)="handleTooltipEvents($event)" show-delay="300" content-type="template" class="info-title">
  {{code}} 
</span>
