[hidden] {
    display: none !important;
  }

  
.mat-column-id {
  flex: 0 0 50% !important;
}

.mat-column-name {
  flex: 0 0 30% !important;
}

.mat-column-code {
  flex: 0 0 20% !important;
}

.mat-column-status {
  flex: 0 0 15% !important;
}

.mat-column-comment {
  flex: 0 0 25% !important;
}


.mat-column-provider {
  flex: 0 0 15% !important;
}

.mat-column-purchase_amount {
  flex: 0 0 15% !important;
}

.mat-column-created_at {
  flex: 0 0 5% !important;
}

.mat-column-actions {
  flex: 0 0 5% !important;
}


.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-cell:first-of-type
  {
    padding-left: 0px !important;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 0px 10px;
    word-break: break-all;
  }
}

table {
  width: 100%;
}


.line-breaker {
  white-space: pre-line;
  font-size: 11px;
}

.mat-header-cell
{
  font-size: 14px;
}

.code {
  font-size: 11px;
}

