<div *ngIf="isLoading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form [formGroup]="movementFormGroup">

    <div style="display: flex; flex-wrap: wrap; Justify-content: space-around;">
      <mat-card class="inner-card">
        <mat-card-header>
          <mat-card-title>
            {{ '_MANUAL_PURCHASE_ORDER_' | translate }}
          </mat-card-title>
        </mat-card-header>
    
        <mat-card-content style="padding:15px;">
          <span fxLayoutAlign="start" fxLayout="row wrap">
    

            <span style="flex-basis: 80%; flex-grow: 1;" >
            
              <mat-form-field appearance="outline" fxFlex="1 1 auto" >
                <mat-label>Nombre de la OC</mat-label>
                <input formControlName="name"  matInput placeholder="Nombre de la OC">
                <mat-error *ngIf="movementFormGroup.controls['name'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>                
              </mat-form-field>              
            
            </span>

            <span style="flex-basis: 80%; flex-grow: 1;" >
              <seis-provider-autocomplete 
              formControlName="provider"></seis-provider-autocomplete>
            </span>

            <span style="flex-basis: 80%; flex-grow: 1;" >
            
              <mat-form-field appearance="outline" fxFlex="1 1 auto" >
                <mat-label>Comentario de la OC</mat-label>
                <textarea appearance="outline" formControlName="comment" matInput placeholder="Comentarios" value=""></textarea>
              </mat-form-field>              
            
            </span>

            <span style="flex-basis: 80%; flex-grow: 1;" >
              <mat-form-field appearance="outline" fxFlex="1 1 auto" >
                <mat-label>Tipo de impuestos </mat-label>
                <mat-select [(value)]='taxDefault' (selectionChange)='recalculateSums()' formControlName="tax_category">
                  <mat-option *ngFor="let t of tax" [value]="t.id">
                    {{t.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>

            <span style="flex-basis: 80%; flex-grow: 1;margin-top: 15px;" >
            
                <mat-checkbox  [hidden]="articleList.length > 0"  formControlName="is_service" >
                  ¿Es una OC de servicio?
                </mat-checkbox>

                <p *ngIf="articleList.length>0">
                  <b *ngIf="movementFormGroup.value.is_service == true"> OC de servicio </b>
                  <b *ngIf="movementFormGroup.value.is_service == false"> OC de artículos </b>
                </p>
                       
            </span>

          </span>
        </mat-card-content>
      </mat-card>
   
    </div>
    
    
    <mat-card class="inner-card" *ngIf="movementFormGroup.value.provider">
      <mat-card-header>
        <mat-card-title>
          Añadir artículos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
    
        <form [formGroup]="articleFormGroup">
    
          
          <supplying-article-autocomplete 
            [institution]="currentInstitution" 
            [service] = "movementFormGroup.value.is_service"
            formControlName="article">
          </supplying-article-autocomplete>
          <br>
          <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;width: 100%;" class="mobile-form-input">
            <mat-label>Cantidad</mat-label>
            <input matInput value="1"  style="width: 100%" placeholder="Cantidad" formControlName='quantityInput'>
            <mat-error *ngIf="articleFormGroup.controls['quantityInput'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="articleFormGroup.controls['quantityInput'].hasError('pattern')">
              Este campo debe ser un número
            </mat-error>
            <mat-error *ngIf="articleFormGroup.controls['quantityInput'].hasError('min')">
              Este campo debe ser mayor que cero
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="margin:5px; flex-grow: 1;width: 100%;" class="mobile-form-input">
              <mat-label>{{ 'SUPPLYING.ORDER._UNIT_VALUE_' | translate }}</mat-label>
          
              <input matInput value="1"  style="width: 100%" placeholder="Valor unitario" formControlName='unit_value'>
              <mat-error *ngIf="articleFormGroup.controls['unit_value'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
              <mat-error *ngIf="articleFormGroup.controls['unit_value'].hasError('pattern')">
                Este campo debe ser un número
              </mat-error>
              <mat-error *ngIf="articleFormGroup.controls['unit_value'].hasError('min')">
                Este campo debe ser mayor que cero
              </mat-error>
          </mat-form-field>    

          <div>
            <button
            [disabled]="articleFormGroup.invalid"
            (click)="addArticle(articleInfo)" mat-stroked-button color="primary">Agregar al listado</button>
         
          </div>
    
        </form>
    
      </mat-card-content>
    </mat-card>
    
    <mat-card class="inner-card" *ngIf="movementFormGroup.value.provider">
      <mat-card-header>
        <mat-card-title>
          Artículos de la orden
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding:15px;">
        <div class="order-container">
    
          <mat-table [dataSource]="dataSource" formArrayName="articles">
    
            <ng-container cdkColumnDef="article_code">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ARTICLE_CODE_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_CODE_' | translate }}:</span>
                <app-article-info [id]="element.article_id" [code]="element.article_code"></app-article-info>
    
              </mat-cell>
            </ng-container>
    
            <ng-container cdkColumnDef="article_name">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._ARTICLE_NAME_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ARTICLE_NAME_' | translate }}:</span>
                {{element.article_name}}
              </mat-cell>
            </ng-container>
    
            <ng-container cdkColumnDef="quantity">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._QUANTITY_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <mat-form-field style="padding:5px;">
                  <input (change)="recalculateSums()" matInput formControlName="quantity">
                </mat-form-field>
    
              </mat-cell>
            </ng-container>
    
            <ng-container cdkColumnDef="unit_value">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._UNIT_VALUE_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <mat-form-field style="padding:5px;">
                  <input (change)="recalculateSums()" matInput formControlName="unit_value">
                </mat-form-field>
    
              </mat-cell>
            </ng-container>
    
            <ng-container cdkColumnDef="subtotal">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                {{ 'SUPPLYING.ORDER._SUBTOTAL_' | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.ORDER._SUBTOTAL_' | translate }}:</span>
                {{ movementFormGroup.value.articles[rowIndex].unit_value * movementFormGroup.value.articles[rowIndex].quantity }}
              </mat-cell>
            </ng-container>
    
            <ng-container cdkColumnDef="actions">
              <mat-header-cell fxLayout="row" md-sort-header *cdkHeaderCellDef>
                </mat-header-cell>
              <mat-cell *cdkCellDef="let element; let rowIndex = index;" [formGroupName]="rowIndex">
                <span class="mobile-label blue">{{ 'SUPPLYING.PURCHASE_ORDER._ACTIONS_' | translate }}:</span>
                <button (click)="removeArticle(rowIndex)" mat-button color="primary">Quitar</button>
              </mat-cell>
            </ng-container>
    
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row;  let index = index; columns: displayedColumns;"></mat-row>
          </mat-table>
    
        </div>
      </mat-card-content>
      <mat-card-content style="padding:15px;">
        <p>
            <b>Sin impuestos</b>: {{totalSum}}
        </p>
        <p>
            <b>Impuestos</b>: {{totalTax}}
        </p>
        <p>
            <b>Total</b>: {{totalSum + totalTax}}
        </p>

      </mat-card-content>
    </mat-card>
    
    <mat-card class="inner-card" >
      <mat-card-content style="padding:15px;">

        <span  style="display: flex; flex-direction: row;flex-wrap: wrap;">
    
          <button style="margin:15px;flex-grow: 1;flex-basis: 0,4;" [disabled]="articleList.length == 0" (click)="send()"  mat-raised-button
            color="accent">
            <mat-icon>border_color</mat-icon> Crear movimiento
          </button>
          <button (click)="clearForm()" style="flex-grow: 1;;margin:15px;flex-basis: 0,4;"  mat-raised-button >
            <mat-icon >replay</mat-icon> Limpiar formulario
          </button>
    
        </span>
      </mat-card-content>
    </mat-card>    

  </form>



</div>

